
@*<footer>
    <div class="footer-bottom">
        <div class="container">
            <ul>
                <li><a title='Archive Policy' href='#'>Archive Policy</a></li>
                <li><a title='Quick Portal' href='#'>Web Information Manager</a></li>
                <li><a title='Archives' href='#'>Disclaimer</a></li>
                <li><a title='Terms & Conditions' href='#'>Terms & Conditions</a></li>
                <li><a title='Copyright Policy' href='#'>Copyright Policy</a></li>
                <li><a title='Hyperlinking Policy' href='#'>Hyperlinking Policy</a></li>
            </ul>

            <p class="text-center"><span class="footer-nic">Site is hosted by National Informatics Centre (NIC). Information is provided and updated by National Defence College</span></p>
        </div>
    </div>

</footer>*@
<footer class="footer" style="clear: both; position: relative; margin-top: 60px;">
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"><span class="footer-nic">Site is hosted by National Informatics Centre (NIC). Information is provided and updated by National Defence College</span></p>

        </div>
    </div>
</footer>