@{
    ViewBag.Title = ViewBag.Title1;
}
<style>
    .field-content img {
        border: 2px solid #4c4a4a;
    }
   </style>
<div id="skipCont" class="wrapper"></div>
<div class="ndc-bg">
    <div class="container bg-white card shadow">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-white"><a href='@Url.Action("Index","Home")' class="text-white">Home</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">@ViewBag.Heading</li>
            </ol>
        </nav>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="clearfix"></div>
                    <div class="field-content">
                        @Html.Raw(ViewBag.Body)
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
