@{
    ViewBag.Title = ViewBag.Title1;

}
<div id="skipCont" class="wrapper"></div>
<div class="ndc-bg">
    @*<section class="wrapper hero-wrapper inner-hero">
            <img class="img-responsive" src="~/images/banner.jpg">
        </section>*@
    <div class="container bg-white">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>Home</a></li>
                <li class="breadcrumb-item" aria-current="page">TEST</li>
                @*<li class="breadcrumb-item"><a href="#">@ViewBag.Heading</a></li>*@
            </ol>
        </nav>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <link href="~/Component/css/bootstrap.min.css" rel="stylesheet" />
                    <div class="clearfix"></div>
                    <div class="card-deck">
                        <div class="row">
                            <div class="card shadow">
                                <img class="card-img-top" src="https://ndc.nic.in/assets/images/siteimg/AHLAWAT.jpg" alt="Card image cap">
                                <div class="card-footer">
                                    <h5 class="card-title text-center">Brig YS AHLAWAT <br />Secy (NDC)</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://ndc.nic.in/assets/images/siteimg/A_Wyas.jpg" alt="Card image cap">
                                <div class="card-footer">
                                    <h5 class="card-title text-center">Gp Capt A Wyas <br />Dir (Research Coord)</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://ndc.nic.in/assets/images/siteimg/DScoord.JPG" alt="Card image cap">
                                <div class="card-footer">
                                    <h5 class="card-title text-center">Gp Capt Alok Shrivastava<br />DS (Coord)</h5>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="https://ndc.nic.in/assets/images/siteimg/Mangal_Kakkad.jpg" alt="Card image cap">
                                <div class="card-footer">
                                    <h5 class="text-success text-center">Capt (IN) Mangal Kakkad <br />JDS(R&amp;R)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
