body {
}
.rotate_text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.rotated_cell {
    width: 10%;
    text-align: right;
    vertical-align: bottom;
    padding: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
}

td, th {
    border-left: thin dashed grey;
    border-top: thin dashed grey;
    padding: 5px;
}

.tabler {
    border-right: thin dashed grey;
    border-bottom: thin dashed grey;
    margin: 20px;
}