
@{
    ViewBag.Title = "mphil";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4 mb-4">
    <div class="card shadow">
        <div class="card-header" style="padding-left:20px !important">FAQ of M.Phil</div>
        <div class="card-body pl-4">
            <p>&nbsp;</p>
            <p><strong><u>FAQ FOR ADMISSION IN M.PHIL FROM NDC</u></strong></p>
            <ol>
                <li><strong> No. 1 Can I apply for M.Phil degree through NDC?</strong></li>
            </ol>
            <p>Ans : You must be on the posted strength of the NDC or an Alumni.</p>
            <ol>
                <li><strong> No. 2 What is minimum eligibility for applying M.Phil degree?</strong></li>
            </ol>
            <p>Ans : You must possess a <strong>Post Graduate Degree </strong>in any discipline with a minimum of 50% marks in aggregate if qualified before 01 Jan 1991 and 55% marks in aggregate if qualified after 01 Jan 1991.</p>
            <ol>
                <li><strong> No. 3 If I do not have a PG degree in any discipline but I have done a course through Army Higher Command. Am I eligible for applying M. Phil degree?</strong></li>
            </ol>
            <p>Ans : The following courses are considered equal to PG degree</p>
            <p>(a) Army Higher Command from Army War College.</p>
            <p>(b) Navy Higher Command from Naval War College.</p>
            <p>(c) Air Force Higher Command from Air Warfare.</p>
            <p>(d) HDMC from CDM, Secunderabad.</p>
            <p>(e) Foreign Staff Course equivalent to above mentioned courses.</p>
            <ol>
                <li><strong> No. 4 From which university the M.Phil degree is awarded?</strong></li>
            </ol>
            <p>Ans : The M. Phil degree awarded from University of Madras.</p>
            <ol>
                <li><strong> No. 5 Is this M.Phil course considered as regular or part time course?</strong></li>
            </ol>
            <p>Ans : The M.Phil course is considered as regular (full time &ndash; One year), which runs concurrently with NDC course on National Security &amp; Strategic Studies.</p>
            <ol>
                <li><strong> No. 6 What is the fees structure for M.Phil?</strong></li>
            </ol>
            <p>Ans : The fees charged for the M.Phil course would be Rs 5000/- for an officer, who has completed his PG from a recognised Indian University. If the officer has completed his PG from a recognised Foreign University than the fee charged would be Rs 12,500/-. <strong>(The fees structure is likely to be changed by the Madras University from this course onwards)</strong></p>
            <ol>
                <li><strong> No. 7 What is the procedure to deposit the fee?</strong></li>
            </ol>
            <p>Ans : The fee may be paid by cheque (payable at par)/DD in favour of &ldquo;NDC University Division Fund&rdquo; or by cash.</p>
            <ol>
                <li><strong> No. 8 What are the documents that need to be attached with the M.Phil forms?</strong></li>
            </ol>
            <p>Ans : The following relevant documents are to be attached with the M. Phil forms :-</p>
            <p>(a) Two copies of PG degree and Marks Sheet duly self attested or equivalent course certificate and marks sheet.</p>
            <p>(b) If PG degree and Marks Sheet or equivalent course certificate are in any foreign languages, those should be translated in English and attested by concerned Embassies or competent authority.</p>
            <p>(c) Officer who possess equivalent course certificate (e.g. HC/HDMC), they should submit two copies of Graduation Degree and marks sheet also.</p>
            <p>(d) Two passport size colour photos in civil clothes.</p>
            <ol>
                <li><strong> No. 9 What is the syllabus for M. Phil course?</strong></li>
            </ol>
            <p>Ans : The syllabus for M. Phil course are as follows :-</p>
            <p>(a) <strong><u>Part I.</u></strong> Examination / submissions on the following subject :-</p>
            <p>(i) Paper &ndash; I (National Security)</p>
            <p>(ii) Paper &ndash; II (Research Methodology written examination)</p>
            <p>(iii) Paper &ndash; III (On are of specialization &ndash; Thesis related submission)</p>
            <p>(b) <strong><u>Part II.</u></strong> Thesis on the allotted subject. All these are part of NDC course also.</p>
            <ol>
                <li><strong> No. 10 If I have already passed the exam of Research Methodology during the PG from recognised university then Can I exempted from this paper?</strong></li>
            </ol>
            <p>Ans : Yes you are exempted from this paper, if you have passed and scored 50 % or more in Research Methodology during PG. You need to submit a photocopy of the certificate, which clearly brings out this fact.</p>
            <ol>
                <li><strong> No. 11 May I know the overall marking system of M.Phil course?</strong></li>
            </ol>
            <p>Ans : The overall marking system are as follows :-</p>
            <p>(a) <strong><u>Part I.</u></strong></p>
            <p>(i) Paper I - 100 Marks</p>
            <p>(ii) Paper II - 100 Marks</p>
            <p>(iii) Paper III - 100 Marks</p>
            <p>(b) <strong><u>Part II (Thesis).</u></strong></p>
            <p>(i) Internal Examiner - 100 Marks</p>
            <p>(ii) External Examiner - 100 Marks</p>
            <p>_____________________</p>
            <p>Total 500 Marks</p>
            <p>_____________________</p>
            <p><strong><u>Note :</u></strong> 400 marks for those officers who have obtained exemption from Paper II.</p>
            <ol>
                <li><strong> No. 12 What is the passing percentage for M.Phil?</strong></li>
            </ol>
            <p>Ans : It is mandatory to score minimum 50% marks in each submission (all service papers, research methodology and thesis).</p>
            <ol>
                <li><strong> No. 13 What If I am from a foreign national which does not have 10+2+3+2 = 17 years of study system leading to post graduate degree but have secured above 55 % in my Master&rsquo;s degree.</strong></li>
            </ol>
            <p>Ans : Such cases will be sent to Madras University for special sanction. They will be enrolled into M.Phil programme once Madras University accord permission.</p>
            <ol>
                <li><strong> No 14 When will be the Convocation for award of the M.Phil degrees be held?</strong></li>
            </ol>
            <p>Ans : Convocation normally will be held one year after the completion of the course for award of M.Phil degrees. For example, for the course passing out in Nov/Dec 2021, the convocation will be held in the first week of Mar 2023.</p>
            <p>.</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

