@using Microsoft.AspNet.Identity

<div id="sidebar">


    <ul class="sidebar-menu  pt-3">
        <li>
            <a href="/Staff"><i class='fa fa-home'></i> <span class="menu-text">Home</span></a>
        </li>
        <!-- My Profile -->
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="fa fa-user"></i> <span class="menu-text">My Profile</span>
                <i class="fa fa-chevron-down toggle"></i>
            </a>
            <ul class="submenu">
                <li><a href="/staff/Profile"><i class="fa fa-address-card"></i> OverView</a></li>
                <li><a href="/staff/MessBill/StaffBillDetail"><i class="fa fa-cutlery"></i> Mess Bill Detail</a></li>
            </ul>
        </li>


        <!-- Verification -->
        <li>
            <a href="/staff/memberverify/participants"><i class="fa fa-check-circle"></i> <span class="menu-text">Verification</span></a>
        </li>


        <!-- Participant Details -->
        <li>
            <a href="/staff/participant/participantlist/"><i class="fa fa-users"></i> <span class="menu-text">Participant Details</span></a>
        </li>

        <!-- Locker Allotment -->
        <li>
            <a href="/staff/participant/lockerallotment/"><i class="fa fa-lock"></i> <span class="menu-text">Locker Allotment</span></a>
        </li>
        <!-- Upload Orders -->
        <li>
            <a href="/staff/circular/circularEntry/"><i class="fa fa-upload"></i> <span class="menu-text">Upload Orders</span></a>
        </li>

        @*<li>
            <a href="/staff/profile/changeuserpassword/"><i class="fa fa-key"></i> <span class="menu-text">Change Password</span></a>
        </li>*@

        <hr class="horizontal-line" />
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="fa fa-book"></i> <span class="menu-text">My Task</span>
                <i class="fa fa-chevron-down toggle"></i>
            </a>
            <ul class="submenu">
                <li><a href="/staff/Profile"><i class="fa- fa-book"></i> Arrival Details</a></li>
                <li><a href="/staff/MessBill/StaffBillDetail"><i class="fa fa-cutlery"></i> Leave History</a></li>
                <li><a href="/staff/Profile"><i class="fa fa-circle-user"></i> Role Assignment</a></li>
                <li><a href="/staff/MessBill/StaffBillDetail"><i class="fa fa-cutlery"></i>In Step Course</a></li>
            </ul>
        </li>
    </ul>

    <div class="sidebar-footer">
        <li>
            <a href="/staff/profile/changeuserpassword/"><i class="fa fa-key"></i> <span class="menu-text">Change Password</span></a>
        </li>
    </div>
</div>

