
<div id="sidebar">
    <ul class="sidebar-menu  pt-3">
        <li><a title='Home' href='/Staff/'><i class='fa fa-home'></i> Home</a></li>
        <!-- My Profile -->
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="fa fa-user"></i> <span class="menu-text">My Profile</span>
                <i class="fa fa-chevron-down toggle"></i>
            </a>
            <ul class="submenu">
                <li><a href="/staff/Profile"><i class="fa-solid fa-address-card"></i> OverView</a></li>
                <li><a href="/staff/MessBill/StaffBillDetail"><i class="fa fa-cutlery"></i> Mess Bill Detail</a></li>
            </ul>
        </li>

        <!-- Library -->
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-book"></i> <span class="menu-text">Library</span>  <i class="fa fa-chevron-down toggle"></i></a>
            <ul class="submenu">
                <li><a href="https://ndclibrary.in"><i class="fa fa-globe"></i> e-Resources</a></li>
                <li><a href="https://ndc.refread.com/#/login"><i class="fa fa-sign-in"></i> Refread</a></li>
                <li><a href="/staff/library/"><i class="fa fa-id-card"></i> Life Memberships</a></li>
                <li><a href="/Member/participant/library/ndc-publications"><i class="fa fa-bookmark"></i> NDC Publications</a></li>
                <li><a href="/staff/underconstruction/"><i class="fa fa-archive"></i> Archive Journals</a></li>
                <li><a href="/Member/participant/library/opac"><i class="fa fa-search"></i> OPAC</a></li>
            </ul>
        </li>

    </ul>
</div>
