<style>
    /* ================== SIDEBAR ================== */
    #sidebar {
        grid-area: sidebar;
        width: 260px;
        height: 85vh;
        background: #fff;
        border-right: 1px solid #eee;
        transition: width 0.3s ease;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

        /* collapsed sidebar */
        #sidebar.collapsed {
            width: 80px; /* shrink */
            overflow: visible; /* allow icons to show */
        }

            /* collapsed: hide text + submenu */
            #sidebar.collapsed .sidebar-menu li a
            #sidebar.collapsed .sidebar-menu li a span,
            #sidebar.collapsed .sidebar-menu li a .menu-text,
            #sidebar.collapsed .sidebar-menu li a .toggle,
            #sidebar.collapsed .submenu,
            #sidebar.collapsed .sidebar-footer span {
                display: none !important;
            }

            #sidebar.collapsed .sidebar-menu li {
                width: 80px
            }
                /* collapsed: center only icons */
                #sidebar.collapsed .sidebar-menu li a {
                    /*                justify-content: center;*/
                    padding: 5px;
                    margin: 5px;
                    /*                background: transparent !important; */
                }

                    /* collapsed icon styling */
                    #sidebar.collapsed .sidebar-menu li a i {
                        margin: 0;
                        padding: 14px;
                        border-radius: 10px;
                        font-size: 20px;
                        color: #000 !important; /* ensure black */
                        background: #fff !important; /* remove white square */
                        display: inline-block;
                        line-height: 1; /* vertically center */
                    }

            /* collapsed: footer only icon */
            #sidebar.collapsed .sidebar-footer a {
                justify-content: center;
                background: transparent !important;
            }


    /* ================== MENU STYLES ================== */
    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        background: #9b030c;
    }

        .sidebar-menu li a {
            display: flex;
            align-items: center;
            padding: 12px 20px;
            font-size: 15px;
            text-decoration: none;
            transition: all 0.3s;
            border-radius: 8px;
            margin: 4px 8px;
            color: #fff;
        }

        .sidebar-menu li:hover {
            color: #000;
        }

        .sidebar-menu li a i {
            margin-right: 12px;
            font-size: 18px;
            min-width: 20px;
            text-align: center;
            color: #fff;
        }

        .sidebar-menu li a:hover,
        .sidebar-menu li.active > a {
            background: #fff;
            color: #000;
        }

        .sidebar-menu li i:hover {
            color: #000;
        }

    .submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        padding-left: 15px;
        list-style: none;
    }

    .has-sub {
        color: #fff;
    }

    .menu-toggle {
        background: rgb(155, 3, 12);
    }

    .has-sub.active > .submenu {
        max-height: 1000px;
    }
</style>

<div id="sidebar">
    <ul class="sidebar-menu  pt-3">
        <li><a title='Home' href='/Staff/'><i class='fa fa-home'></i> Home</a></li>
        <!-- My Profile -->
        @*<li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="fa fa-user"></i> <span class="menu-text">My Profile</span>
                <i class="fa fa-chevron-down toggle"></i>
            </a>
            <ul class="submenu">
                <li><a href="/staff/Profile"><i class="fa-solid fa-address-card"></i> OverView</a></li>
                <li><a href="/staff/MessBill/StaffBillDetail"><i class="fa fa-cutlery"></i> Mess Bill Detail</a></li>
            </ul>
        </li>*@

        <!-- Course -->
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="fa fa-book"></i> <span class="menu-text">Course</span>
                <i class="fa fa-chevron-down toggle"></i>
            </a>
            <ul class="submenu">
                <li><a href="/staff/emp/course/course-handbook"><i class="fa fa-file-text"></i> Course Handbook</a></li>

                <!-- Training Content -->
                <li class="has-sub">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-graduation-cap"></i> Training Content <i class="fa fa-chevron-down toggle"></i></a>
                    <ul class="submenu">

                        <!-- Modules -->
                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-list-alt"></i> Modules <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/trainingactivity/moduleCategory/module/uiis"><i class="fa fa-circle"></i> UIIS</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/esst"><i class="fa fa-circle"></i> ESST</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/ise"><i class="fa fa-circle"></i> ISE</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/isn"><i class="fa fa-circle"></i> ISN</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/gi"><i class="fa fa-circle"></i> GI</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/ssns"><i class="fa fa-circle"></i> SSNS</a></li>
                                <li><a href="/staff/trainingactivity/moduleCategory/module/dimc"><i class="fa fa-file-alt"></i> DIMC</a></li>
                            </ul>
                        </li>

                        <!-- SGE -->
                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-certificate"></i> SGE <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li class="has-sub">
                                    <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-dot-circle-o"></i> SGE-I <i class="fa fa-chevron-down toggle"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/staff/emp/sge-i/sge-i-brief"><i class="fa fa-file-text-o"></i> SGE-I Brief</a></li>
                                        <li><a href="/staff/emp/sge-i/sge-i-mentors-expert-biodata"><i class="fa fa-users"></i>SGE-I Mentors/Expert Biodata</a></li>
                                        <li><a href="/staff/emp/sge-i/sge-i-settings"><i class="fa fa-cog"></i> Settings</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-dot-circle-o"></i> SGE-II <i class="fa fa-chevron-down toggle"></i></a>
                                    <ul class="submenu">
                                        <li><a href="/staff/emp/sge-ii/sge-brief"><i class="fa fa-file-text-o"></i> SGE-II Brief</a></li>
                                        <li><a href="/staff/emp/sge-ii/mentors-expert-biodata"><i class="fa fa-users"></i>SGE-II Mentors/Expert Biodata</a></li>
                                        <li><a href="/staff/emp/sge-ii/settings"><i class="fa fa-cog"></i> Settings</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <!-- Other Training Content -->
                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-comments"></i> NDC Seminar <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/ndc-seminar/seminar-brief"><i class="fa fa-file-text-o"></i> Seminar Brief</a></li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-bullhorn"></i> Strategic Communication Workshop <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/strategic-communication-workshop/expert-biodata"><i class="fa fa-user"></i> Expert Biodata</a></li>
                                <li><a href="/staff/emp/strategic-communication-workshop/whites"><i class="fa fa-file"></i> Whites</a></li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-lightbulb-o"></i> Strategic Leadership Capsule <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/strategic-leadership-capsule/slc-brief"><i class="fa fa-file-text-o"></i> SLC Brief</a></li>
                            </ul>
                        </li>

                        <li><a href="/staff/emp/training-content/defence-procurement--manufacturing-capsule"><i class="fa fa-industry"></i> Defence Procurement & Manufacturing Capsule</a></li>

                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-rocket"></i> ASAT <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/asat/asat-brief"><i class="fa fa-file-text-o"></i> ASAT Brief</a></li>
                                <li><a href="/staff/emp/asat/sample-asat-paper"><i class="fa fa-file-pdf-o"></i> Sample ASAT Paper</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <!-- Remaining course items -->
                <li><a href="/staff/emp/course/mphil-phd-guidelines"><i class="fa fa-university"></i> MPhil/PhD Guidelines</a></li>
                <li><a href="/staff/emp/course/thesis-guidelines"><i class="fa fa-pencil-square-o"></i> Thesis Guidelines</a></li>

                <li class="has-sub">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-file-text-o"></i> IAG Paper Guiding Notes <i class="fa fa-chevron-down toggle"></i></a>
                    <ul class="submenu">
                        <li><a href="/staff/emp/iag-paper-guiding-notes/sample-iag-paper"><i class="fa fa-file"></i> Sample IAG Paper</a></li>
                        <li><a href="/staff/emp/iag-paper-guiding-notes/sop-on-iag-paper"><i class="fa fa-book"></i> SOP on IAG Paper</a></li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-plane"></i> Tour Report Samples <i class="fa fa-chevron-down toggle"></i></a>
                    <ul class="submenu">
                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-flag"></i> Domestic Tour <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/domestic-tour/sample-paper-esst"><i class="fa fa-file"></i> Sample Paper ESST</a></li>
                                <li><a href="/staff/emp/domestic-tour/sample-paper-spst"><i class="fa fa-file"></i> Sample Paper SPST</a></li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-globe"></i> Foreign Tour <i class="fa fa-chevron-down toggle"></i></a>
                            <ul class="submenu">
                                <li><a href="/staff/emp/foreign-tour/sample-paper-fcst"><i class="fa fa-file"></i> Sample Paper FCST</a></li>
                                <li><a href="/staff/emp/foreign-tour/sample-paper-snst"><i class="fa fa-file"></i> Sample Paper SNST</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="/staff/emp/course/training-calendar"><i class="fa fa-calendar"></i> Training Calendar</a></li>
            </ul>
        </li>

        <!-- Library -->
        <li class="has-sub">
            <a href="javascript:void(0);" class="menu-toggle"><i class="fa fa-book"></i> <span class="menu-text">Library</span>  <i class="fa fa-chevron-down toggle"></i></a>
            <ul class="submenu">
                <li><a href="https://ndclibrary.in"><i class="fa fa-globe"></i> e-Resources</a></li>
                <li><a href="https://ndc.refread.com/#/login"><i class="fa fa-sign-in"></i> Refread</a></li>
                <li><a href="/staff/library/"><i class="fa fa-id-card"></i> Life Memberships</a></li>
                <li><a href="/Member/participant/library/ndc-publications"><i class="fa fa-bookmark"></i> NDC Publications</a></li>
                <li><a href="/staff/underconstruction/"><i class="fa fa-archive"></i> Archive Journals</a></li>
                <li><a href="/Member/participant/library/opac"><i class="fa fa-search"></i> OPAC</a></li>
            </ul>
        </li>

        <!-- Participant Details -->
        <li>
            <a href="/staff/participant/participantlist/"><i class="fa fa-users"></i> <span class="menu-text">Participant Details</span></a>
        </li>

        <div class="shadow-sm mt-2" style="clear:both">
            <h4 class="fw-bold py-2 btlr text-white pr-5" style="border-bottom: 1px solid #ab131c; ">
                <i class="bi bi-list-task me-2 mx-2"></i> TASKS
            </h4>

        </div>
    </ul>
</div>


