@model IEnumerable<NDCWeb.Areas.Staff.View_Models.CircularAlertVM>
@using NDCWeb.Infrastructure.Extensions;
@{
    ViewBag.Title = "Orders";

    int counter = 1;
    string textColor = "text-white";
}

<div class="container shadow p-3 mt-4">
    <div class="card-header  custom-header">

    <h3 class="text-white" style="text-align: center;"><span style="text-decoration: underline;"><strong>Orders</strong></span></h3>
    </div>

    <p style="text-align: justify;">
        @foreach (var item in Model)
        {
            //if (counter == 1)
            //{ textColor = "text-info h4"; }
            //else if (counter == 2)
            //{ textColor = "text-warning h4"; }
            //else if (counter == 3)
            //{ textColor = "text-success h4"; }
            //else if (counter == 4)
            //{ textColor = "text-danger h4"; }
            //else
            //{ textColor = "text-primary h4"; }

            <span style="color: #ff0000;">
                @* ask both line different old and new *@
                @*<i class="fa fa-hand-point-right black-font"></i>  <a class="text-justify black-font" href="@Url.Action("ShowMediaFiles", new { id = item.CircularId })" target="_blank">@item.Description</a>*@
                <i class="fa fa-hand-point-right black-font"></i>  @Html.EncodedActionLink(item.Description, "ShowMediaFiles", "circular", "member", new { id = item.CircularId }, new { @class = "text-justify black-font" }, "", "_blank")
            </span>
            <br /><br />

            counter++;
            if (counter == 5)
            { counter = 1; }
        }
    </p>
</div>
@section Scripts {
    <script>
    LoadJDT('#myTable');

    @*function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }*@
    </script>
}


