
@{
    ViewBag.Title = "IAG Paper Guidline";
}

<section class="pb20">
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="text-center">
                        <h2>@ViewBag.Title</h2>
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div class="field-content">

                        <section class="background-white" tabindex="-1">
                            <div class="content-layout">
                                <h3 class="text-primary" style="text-align: center;"><span style="text-decoration: underline;"><strong>Standard Operating Procedure for Writing The IAG Paper</strong></span></h3>
                                <div class="content-text">
                                    <h3 class="text-primary">&nbsp;</h3>
                                    <h3 class="text-primary"><strong>Introduction</strong></h3>
                                    <p style="text-align: justify;">The course officers at NDC are required to prepare and submit IAG papers end of each study, as part of their course curriculum. These are required to be checked by the SDSs for originality and plagiarism prior to acceptance. Therefore, it becomes incumbent upon the course officers to write IAG paper based on their research/analysis and understanding of the subject. The IAG papers are required to be 3000 to 4000 words long. These papers once scrutinised by the SDSs are recommended (as per the quality of the paper) and forwarded to the Commandant. Subsequently, these papers are perused by the Commandant and the recommended papers are published in the NDC journals. These Journals are forwarded to various agencies as High Commissions of friendly foreign countries, Service Chiefs &amp; vice Chiefs and Heads of Institutions etc</p>
                                    <hr />
                                    <h3 class="text-primary"><strong>Aim</strong></h3>
                                    <p style="text-align: justify;">To encourage course officers to undertake meaningful research work and produce an original IAG research paper of 4000 words suitable for publication in NDC Journal in conformity with international standards</p>
                                    <hr />
                                    <h3 class="text-primary"><strong>Scope</strong></h3>
                                    <p style="text-align: justify;">This SOP is structured to assist SDSs and course officers in producing IAG papers which form a very important part of the NDC curriculum.</p>
                                    <hr />
                                    <h3 class="text-primary"><strong>Responsibilities and Procedure</strong></h3>
                                    <p style="text-align: justify;">Course officers of each subgroup of an IAG Group need to carry out extensive research for producing a good research paper of a maximum of 4000 words in respect of the topic allocated. The Chair Person (*) of each subgroup is to ensure that the maximum possible original research is undertaken to produce the paper. Each IAG paper is to carry an abstract of about 100 &ndash; 150 words. The IAG paper should also include the bibliography as applicable. These papers are to be collated by the Coordinating Chair Person (**) and put up to the SDS of the IAG for his perusal. The guideline in respect of the IAG papers are given in the appendices as mentioned below:</p>
                                    <p>(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sample first page &ndash; Appendix &lsquo;A&rsquo;</p>
                                    <p>(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Formatting of the paper &ndash; Appendix &lsquo;B&rsquo;</p>
                                    <p>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A guide to good abstract writing &ndash; Appendix &lsquo;C&rsquo;</p>
                                    <p style="text-align: justify;">An appraisal of the paper thereafter by SDSs would include review based on originality, content and plagiarism check. Based on the quality of the research paper, the SDS will recommend it for publication in the NDC Journal. If the papers require further refinement, these will be returned to the concerned subgroup for necessary modification before comments.</p>
                                    <p style="text-align: justify;">DS Coord will collate the papers as forwarded by the SDSs (within seven days of completion of study) and put them up to the Commandant (through Secretary NDC) for his perusal and comments.</p>
                                    <p style="text-align: justify;">Once cleared by Commandant, the finally recommended IAG papers are taken up for publishing in the NDC Journal by JDS (R&amp;R).</p>
                                    <hr />
                                    <h3 class="text-primary"><strong>Conclusion</strong></h3>
                                    <p style="text-align: justify;">The IAG papers written by course officers at NDC as part of the course and for the M Phil degree programme is a very important document that gets circulated to various important offices in India and abroad. It, therefore, becomes imperative that the quality and content of the paper are of a very high standard. It is from this point of view that effort must be made by all to ensure that the procedure as mentioned above be followed in totality to ensure the quality of the group research.</p>
                                    <p style="text-align: justify;">&nbsp;</p>
                                    <h6 style="text-align: right;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Atulya Solankey)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></h6>
                                    <h6 style="text-align: right;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Brigadier&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></h6>
                                    <h6 style="text-align: right;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Secretary, NDC&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></h6>
                                    <hr />
                                    <p style="text-align: justify;">&nbsp;</p>
                                    <p style="text-align: right;" align="right"><strong><u style="color: #4169e1;">Appendix A</u></strong><br /><u></u><img style="display: block; margin-left: auto; margin-right: auto;" src="/writereaddata/images/2021/Mar/collegecrest-5.jpg" alt="" width="202" height="145" /></p>
                                    <p style="text-align: center;" align="center"><strong><u style="color: #4169e1;"><u>NATIONAL DEFENCE COLLEGE</u></u></strong></p>
                                    <p style="text-align: center;" align="center"><strong><u>BY</u></strong></p>
                                    <p style="text-align: center;" align="center"><strong><u>(FIFTY-SIXTH COURSE - 2016)</u></strong></p>
                                    <p style="text-align: center;"><strong><u>TOPIC OF THE IAG PAPER</u></strong></p>
                                    <p style="text-align: right;" align="right">&nbsp;</p>
                                    <p><strong><u>SUB GP &ndash; A/B/C</u></strong></p>
                                    <p><em><br /></em><strong>Name of the Single Star</strong></p>
                                    <p><strong>Name of Sub Group Member 1</strong></p>
                                    <p><strong>Name of Sub Group Member 2</strong></p>
                                    <p><strong>Name of Sub Group Member 3</strong></p>
                                    <p><strong>Name of Sub Group Member 4</strong></p>
                                    <p>&nbsp;</p>
                                    <p style="text-align: center;"><strong><u>Name and Appointment of the SDS</u></strong></p>
                                    <p style="text-align: center;"><strong>IAG papers on Social Political Study of India submitted to National Defence College, New Delhi</strong></p>
                                    <p style="text-align: right;" align="right">&nbsp;</p>
                                    <p style="text-align: right;" align="right">&nbsp;</p>
                                    <hr />
                                    <p style="text-align: right;" align="right"><strong><u style="color: #4169e1;">Appendix B</u></strong><br /><u></u></p>
                                    <p style="text-align: center;" align="center"><strong><u style="color: #4169e1;"><u>FORMATTING FOR IAG PAPER WRITING</u></u></strong></p>
                                    <p align="center">&nbsp;</p>
                                    <p><strong><u>Page Setup</u></strong></p>
                                    <p>Margin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Top&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lsquo;1&rsquo;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Left&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lsquo;1&rsquo;</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bottom&nbsp; &lsquo;1&rsquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Right &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lsquo;1&rsquo;</p>
                                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gutter &lsquo;0&rsquo;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Gutter Position: Left&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Paper size&nbsp; &lsquo;A4&rsquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    <p><strong><u>Font</u></strong></p>
                                    <p>Font size&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;14&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Font Size for Footnotes &ndash; 10</p>
                                    <p>Font&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Times New Roman</p>
                                    <p><strong><u>Spacing</u></strong></p>
                                    <p>1.5&rdquo;&nbsp;&nbsp; line space</p>
                                    <p>After and before central heading two space</p>
                                    <p>Before group heading one space and after group heading no space required.&nbsp;&nbsp;</p>
                                    <p>Paragraph spacing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lsquo;0&rsquo; Tab spacing &lsquo;0.5&rsquo;</p>
                                    <p>Sub para&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lsquo;0.5&rsquo; Tap spacing &lsquo;1.0&rsquo;</p>
                                    <p>Paragraph number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Auto number</p>
                                    <p>Leave one space after the full stop and quotation marks and one space after brackets before starting the next sentence.</p>
                                    <p>Footnotes should be single-spaced with double space between every consecutive note.&nbsp; A solid line is to separate notes from the text above.&nbsp; Leave a double space between this line and the last line of the text above.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    <p>Each A-4 size page should preferably have 24 to 25 lines.</p>
                                    <p><strong><u>Heading</u></strong></p>
                                    <p>Central Heading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Capital letter, bold and underline</p>
                                    <p>Group Heading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Title case, bold and underline.</p>
                                    <p><strong><u>Page No.</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Centre and Top</p>
                                    <p>Page number will be in continuation, it will not be shown on the first page</p>
                                    <p>Page Number for Main Text will be 1, 2 and 3.</p>
                                    <p>Papers to be written on one side of the page</p>
                                    <p><strong><u>Note:</u></strong> Bibliography is to be included in the end as applicable</p>
                                    <p>&nbsp;</p>
                                    <hr />
                                    <p style="text-align: right;"><strong><u style="color: #4169e1;">Appendix C</u></strong></p>
                                    <p style="text-align: center;"><strong><u style="color: #4169e1;">WRITING GOOD ABSTRACT</u></strong></p>
                                    <p style="text-align: center;"><strong><u style="color: #4169e1;">A GUIDE TO GOOD ABSTRACT WRITING FOR JOURNAL ARTICLES</u></strong></p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: justify;">1.&nbsp; &nbsp; Writing an article for journal publication can be a daunting task for young inexperienced authors.&nbsp; Although all sections of a manuscript are important and should be well written, the abstract is usually the first section to be read and its content can either attract or repel a reader, Despite the emphasis given to good manuscript preparation and guidelines provided, many authors still find it hard to produce manuscripts that are compelling or abstract that are enticing to readers. This will be an interesting resource for both experienced and armature authors aspiring to write journal articles for publication.</p>
                                    <p style="text-align: justify;">2.&nbsp; &nbsp; &nbsp;An understanding of the meaning and purpose of an article abstract is important to good abstract writing. An abstract has been defined as <em>&ldquo;(A) brief summary of a research article that emphasizes what is new, captures the salient features of the purpose, design, findings, and implications, and contains no unnecessary sentences or explanations.</em>&rdquo;&nbsp; The purpose of the article abstract is to make it easy for readers to quickly grasp the key points of the article.&nbsp; This will help them determine their interest in the article and/or its relevance to their work.&nbsp;</p>
                                    <p style="text-align: justify;">As a brief summary, the abstract is expected to be an exact reflection of the content of the main text.&nbsp; It should not contain any information that is not presented in the main text, neither is it expected to exclude vital findings or shortcomings of the research.&nbsp; The emphasis should be on the novel features of the article, and it should be presented logically along the lines of the sections of the article&rsquo;s main text.&nbsp; This includes context and background, objectives, the setting of the research, work is done or materials and methods, findings/results, and conclusions from the results.&nbsp;</p>
                                    <p style="text-align: justify;">3.&nbsp; &nbsp; As a rule, abstracts do not include citations, figures or tables; however, the format of an abstract may vary from discipline to discipline and from journal to journal. Some features of a journal article&rsquo;s abstract distinguish it from conference abstracts designed for oral or poster presentation.&nbsp; These features, among others, include that journal abstracts could be indexed in academic databases while conference abstracts are not so indexed, some journals do not allow conference abstracts citation in their articles, and often conference abstracts are not recognized as publications in the same manner articles are treated.</p>
                                    <p>&nbsp;</p>
                                    <p>4.&nbsp; &nbsp; &nbsp; In a nutshell, the following are some guidelines for writing a good journal abstract</p>
                                    <p>(a)&nbsp;&nbsp;&nbsp;&nbsp; It is a brief summary of a completed or ongoing research article.</p>
                                    <p>(b)&nbsp;&nbsp;&nbsp;&nbsp; It includes information on the context or background of the study.</p>
                                    <p>(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It states the rationale for the study.</p>
                                    <p>(d)&nbsp;&nbsp;&nbsp;&nbsp; It has a dear objective/project statement.</p>
                                    <p>(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It has a succinct presentation of the work done.</p>
                                    <p>(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It contains a clear and logical presentation of findings.</p>
                                    <p>(g)&nbsp;&nbsp;&nbsp;&nbsp; Its conclusions are supported by the results.</p>
                                    <p>(h)&nbsp;&nbsp;&nbsp;&nbsp; It includes a take-home message or statement of impact.</p>
                                    <p>(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It has been written according to journal guidelines: - structured or unstructured work limit, etc.</p>
                                    <p>(k)&nbsp;&nbsp;&nbsp;&nbsp; It has good grammatical writing.</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




