
@{
    ViewBag.Title = "Ndc Publications";
}

<section class="pb20">
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="text-center">
                        @*<h2>@ViewBag.Title</h2>*@
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div class="field-content">

                        <h2 class="text-primary" style="text-align: center;">&nbsp;</h2>
                        <p>&nbsp;</p>
                        <div class="text-center"><img class="rounded ml-4" src="/writereaddata/images/2021/Mar/scan0002-3.jpg" width="317" height="478" align="middle" /> <img class="rounded ml-4" src="/writereaddata/images/2021/Mar/scan0003-2.jpg" alt="centered" width="321" height="478" align="middle" /></div>
                        <p>&nbsp;</p>
                        <p class="text-center" style="text-align: center;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #ba372a;"><a style="color: #ba372a;" href="/writereaddata/media/Documents/4bea1289-8e0d-4e86-8bcd-67759fefd9cd.pdf">NDC Seminar 2019 KUUTNEETI Vol. V</a></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="color: #e03e2d;"><a style="color: #e03e2d;" href="/writereaddata/media/Documents/a82683af-9e20-4790-b405-e64434c0ae48.pdf">NDC Journal KUUTNEETI - Diamond Jubilee Issue</a></span></p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

