@model IEnumerable<NDCWeb.Areas.Member.View_Models.BirthDaysVM>
<table>
    <tr class="bg-danger text-white">
        <td colspan="4"> <span class="card-title"><i class="fa fa-gift"></i> Birthdays</span></td>
    </tr>
    <tr>
        <td> Date</td>
        <td> Full Name</td>
        <td> Course No</td>
        <td>Locker No</td>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday, "{0:dd MMM yyyy}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Coursename)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.LockerNo)
            </td>
        </tr>
    }
</table>
