
@{
    ViewBag.Title = "Faq";
}
<section class="pb20">
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="text-center">
                        @*<h2>@ViewBag.Title</h2>*@
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div class="field-content">
                        <h5 class="text-primary"><strong>Q.1 &nbsp; &nbsp; &nbsp; &nbsp;Can I apply for M.Phil degree through NDC?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp;You must be on the posted strength of the NDC or an Alumni.</p>
                        <h5 class="text-primary"><strong>Q.2 &nbsp; &nbsp; &nbsp; &nbsp;What is the minimum eligibility for applying M.Phil degree?</strong></h5>
                        <p>Ans : &nbsp; &nbsp;You must possess a <strong>Post Graduate Degree </strong>in any discipline with a minimum of 50% marks in aggregate if qualified before 01 Jan 1991 and 55% marks in aggregate if qualified after 01 Jan 1991.</p>
                        <h5 class="text-primary"><strong>Q.3 &nbsp; &nbsp; &nbsp; &nbsp;If I do not have a PG degree in any discipline but I have done a course through Army Higher Command. Am I eligible for applying M. Phil degree?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp;The following courses are considered equal to PG degree</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Army Higher Command from Army War College.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Navy Higher Command from Naval War College.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Air Force Higher Command from Air Warfare.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HDMC from CDM, Secunderabad.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Foreign Staff Course equivalent to the above-mentioned courses.</p>
                        <h5 class="text-primary"><strong>Q.4 &nbsp; &nbsp; &nbsp; &nbsp;From which university the M.Phil degree is awarded?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp;The M. Phil degree awarded from the University of Madras.</p>
                        <h5 class="text-primary"><strong>Q.5 &nbsp; &nbsp; &nbsp; &nbsp;Is this M.Phil course considered a regular or part-time course?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp; The M.Phil course is considered as regular (full time &ndash; One year), which runs concurrently with the NDC course on National Security &amp; Strategic Studies.</p>
                        <h5 class="text-primary"><strong>Q.6 &nbsp; &nbsp; &nbsp; &nbsp;What is the fees structure for M.Phil?</strong></h5>
                        <p style="text-align: justify;">Ans : &nbsp; &nbsp; The fees charged for the M.Phil Course would be Rs 5000/- for an officer, who has completed his PG from a recognised Indian University. If the officer has completed his PG from a recognised Foreign University than the fee charged would be Rs 12,500/-. <strong>(The fees structure is likely to be changed by the Madras University from this course onwards)</strong></p>
                        <h5 class="text-primary"><strong>Q.7 &nbsp; &nbsp; &nbsp; &nbsp;What is the procedure to deposit the fee?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp;The fee may be paid by cheque (payable at par)/DD in favour of &ldquo;NDC University Division Fund&rdquo; or by cash.</p>
                        <h5 class="text-primary"><strong>Q.8 &nbsp; &nbsp; &nbsp; &nbsp;What are the documents that need to be attached with the M.Phil forms?</strong></h5>
                        <p>Ans : &nbsp; &nbsp; &nbsp;The following relevant documents are to be attached with the M. Phil forms:-</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Two copies of PG degree and Marks Sheet duly self-attested or equivalent course certificate and marks sheet.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If PG degree and Marks Sheet or equivalent course certificate are in any foreign languages, those should be translated in English and attested by concerned Embassies or competent authority.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (c)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Officer who possess equivalent course certificate (e.g. HC/HDMC), should submit two copies of Graduation Degree and marks sheet also.</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Two passport size colour photos in civil clothes.</p>
                        <h5 class="text-primary"><strong>Q.9 &nbsp; &nbsp; &nbsp; &nbsp;What is the syllabus for the M. Phil course?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp;The syllabus for the M. Phil course are as follows:-</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (a)&nbsp;&nbsp;&nbsp;&nbsp; <strong><u>Part I.</u></strong>&nbsp; &nbsp; &nbsp;Examination/submissions on the following subject:-</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper &ndash; I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (National Security)</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper-II&nbsp;&nbsp;&nbsp;&nbsp; (Research Methodology written examination)</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper &ndash; III&nbsp;&nbsp;&nbsp; (On are of specialization &ndash; Thesis related submission)</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(b)&nbsp;&nbsp;&nbsp; <strong><u>Part II.</u></strong>&nbsp; &nbsp; &nbsp;Thesis on the allotted subject. All these are part of the NDC course also.</p>
                        <h5 class="text-primary"><strong>Q.10 &nbsp; &nbsp; &nbsp; &nbsp;If I have already passed the exam of Research Methodology during the PG from a recognised university then Can I exempted from this paper?</strong></h5>
                        <p style="text-align: justify;">Ans :&nbsp; &nbsp; &nbsp; Yes you are exempted from this paper if you have passed and scored 50 % or more in Research Methodology during PG. You need to submit a photocopy of the certificate, which clearly brings out this fact.</p>
                        <h5 class="text-primary"><strong>Q.11 &nbsp; &nbsp; &nbsp; &nbsp;May I know the overall marking system of the M.Phil course?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp; &nbsp;The overall marking system are as follows:-</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(a)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><u>Part I.</u></strong></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Marks</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper II&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Marks</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (iii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Paper III&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Marks</p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><u>Part II (Thesis).</u></strong></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Internal Examiner &nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Marks</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (ii)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; External Examiner&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Marks</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________________</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 500 Marks</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________________</p>
                        <p><strong><u>Note </u></strong>&nbsp; &nbsp; &nbsp; 400 marks for those officers who have obtained an exemption from Paper-II.</p>
                        <h5 class="text-primary"><strong>Q.12 &nbsp; &nbsp; &nbsp; &nbsp;What is the passing percentage for M.Phil?</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp; &nbsp;It is mandatory to score a minimum of 50% marks in each submission (all service papers, research methodology and thesis).</p>
                        <h5 class="text-primary"><strong>Q.13 &nbsp; &nbsp; &nbsp; &nbsp;What If I am from a foreign national which does not have 10+2+3+2 = 17 years of study system leading to a post-graduate degree but have secured above 55% in my Master&rsquo;s degree.</strong></h5>
                        <p>Ans :&nbsp; &nbsp; &nbsp; &nbsp;Such cases will be sent to Madras University for special sanction. They will be enrolled on the M.Phil programme once Madras University accord permission.</p>
                        <h5 class="text-primary"><strong>Q.14 &nbsp; &nbsp; &nbsp; &nbsp;When will be the Convocation for the award of the M.Phil degrees be held?</strong></h5>
                        <p style="text-align: justify;">Ans :&nbsp; &nbsp; &nbsp; Convocation normally will be held one year after the completion of the course for the award of M.Phil degrees. For example, for the course passing out in Nov/Dec 2021, the convocation will be held in the first week of Mar 2023.</p>
                        <p>&nbsp;</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

