<appSettings>
	<add key="CurrentAppConnection" value="NDCWebConString" />
	<add key="EnableLogging" value="True" />
	<add key="ErrorLogRoot" value="writereaddata/logsfile/error" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="DefaultPass" value="TwMz%#63$23"/>
	<add key="AllowedIPAddresses" value="103.79.169.15,::1,127.0.0.1,45.248.30.229,45.248.30.144"/>
	<!-- Example "10.26.66.256,::1" -->
</appSettings>