<connectionStrings>
	<remove name="LocalSqlServer" />
	<!-- <add name="LocalSqlServer" connectionString="data source=49.50.70.18;Initial Catalog=NDCWEB;Integrated Security=false;user id=sa;pwd=Cspl@#$1234;" providerName="System.Data.SqlClient" />
	<add name="NDCWebConString" connectionString="Server=49.50.70.18;integrated security=false;user id=sa;pwd=Cspl@#$1234;database=NDCWEB;" providerName="System.Data.SqlClient" />-->

	<add name="LocalSqlServer" connectionString="data source=103.109.6.232;Initial Catalog=NDCWEB;Integrated Security=false;user id=sa;pwd=Cspl@#$1234;" providerName="System.Data.SqlClient" />
	<add name="NDCWebConString" connectionString="Server=103.109.6.232;integrated security=false;user id=sa;pwd=Cspl@#$1234;database=NDCWEB;" providerName="System.Data.SqlClient" />

	<!--<add name="LocalSqlServer" connectionString="data source=DESKTOP-UNKVUSP\SQLEXPRESS;Initial Catalog=NDCWEB;Integrated Security=false;user id=sa;pwd=Cspl@2021;" providerName="System.Data.SqlClient" />
  <add name="NDCWebConString" connectionString="Server=DESKTOP-UNKVUSP\SQLEXPRESS;integrated security=false;user id=sa;pwd=Cspl@2021;database=NDCWEB;" providerName="System.Data.SqlClient" />-->

	<!--For registering membership on remote server: Got VS CMD Prompt->aspnet_regsql.exe -S 43.255.152.25 -U NDCWEB -P Cspl@#$2021 -A all -d NDCWEB-->
</connectionStrings>
