<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="data source=DESKTOP-UNKVUSP\SQLEXPRESS;Initial Catalog=NDCWEB;Integrated Security=false;user id=cspl;pwd=Cspl@2021;" providerName="System.Data.SqlClient" />
    <add name="NDCWebConString" connectionString="Server=DESKTOP-UNKVUSP\SQLEXPRESS;integrated security=false;user id=cspl;pwd=Cspl@2021;database=NDCWEB;" providerName="System.Data.SqlClient" />

    <!--For registering membership on remote server: Got VS CMD Prompt->aspnet_regsql.exe -S 43.255.152.25 -U NDCWEB -P Cspl@#$2021 -A all -d NDCWEB-->
  </connectionStrings>
  <appSettings configSource="WebConfigs\appSettings.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--<trust level="Full" />-->
    <!--<globalization uiCulture="en" culture="en-GB"/>-->
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- executionTimeout = 30hrs (the value is in seconds) and maxRequestLength = 1GB (the value is in Bytes) -->
    <httpRuntime targetFramework="4.6.1" executionTimeout="108000" maxRequestLength="1073741824" />
    <!--<authentication mode="None" />-->
    <customErrors mode="Off" defaultRedirect="~/Errors/Index">
      <error statusCode="404" redirect="~/Errors/NotFound" />
      <error statusCode="500" redirect="~/Errors/ServerError" />
    </customErrors>
    <roleManager enabled="true" />
    <httpCookies requireSSL="true"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="~/Errors/NotFound" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="1073741824" /> <!--maxAllowedContentLength="500000000" at server-->
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <!--<add name="Referrer-Policy" value="no-referrer" />-->
        <!--Captcha Not Working-->
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />-->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="techbrills@gmail.com">
        <!--<network host="relay-hosting.secureserver.net" port="25" enableSsl="false" defaultCredentials="false"/>-->
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="techbrills@gmail.com" password="Techbrills@2020" />
      </smtp>
    </mailSettings>

  </system.net>

</configuration>