<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="WebConfigs\connectionStrings.config" />
  <appSettings configSource="WebConfigs\appSettings.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <!--Start for Yogendra-->
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Strict" />
    <sessionState mode="InProc" timeout="60" />
    <!--<sessionState mode="InProc" timeout="60" sessionIDManagerType="NDCWeb.CustomSessionIDManager" cookieSameSite="None" cookieName="CookieName" />-->
    <pages validateRequest="true" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="108000" maxRequestLength="500000000" />
    <authentication>
      <forms cookieSameSite="Strict" requireSSL="true" loginUrl="~/Auth/Login" slidingExpiration="true" enableCrossAppRedirects="false" protection="All" domain="ndc.nic.in" />
    </authentication>
    <!--End for Yogendra-->
    <customErrors mode="On" defaultRedirect="~/Errors/Index">
      <error statusCode="404" redirect="~/Errors/NotFound" />
      <error statusCode="500" redirect="~/Errors/ServerError" />
    </customErrors>
    <!--<roleManager enabled="true"/>-->
    <!--<httpCookies requireSSL="false"/>-->
    <!--<httpCookies requireSSL="true"/> Uncomment when running on SSL-->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Auto">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="~/Errors/NotFound" responseMode="ExecuteURL" />
    </httpErrors>
    <security>
      <requestFiltering>
        <!--removeServerHeader="true"-->
        <requestLimits maxAllowedContentLength="500000000" />
        <!--<hiddenSegments>
        <add segment="Component" />
      </hiddenSegments>-->
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <!--<rule name="Httpsonly" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>-->
      </rules>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Remove RESPONSE_Server">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Use only secure cookies" preCondition="Unsecured cookie">
          <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; secure" />
        </rule>
        <clear />
        <!--Misconfigured Cookie Attribute-->
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=lax" />
        </rule>
        <!--Add Cross Doamin Headers-->
        <clear />
        <rule name="AddCrossDomainHeader">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://((.+\.)?ndc\.nic.in|(.+\.)?office365\.com|(.+\.)?google\.com))" />
          </conditions>
          <action type="Rewrite" value="{C:0}" />
        </rule>
        <!--Secure Cookie Attribute-->
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
          </preCondition>
          <preCondition name="Unsecured cookie">
            <add input="{RESPONSE_SET_COOKIE}" pattern="." />
            <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="JSFileHandler" path="*.css" verb="GET"
      type="System.Web.Handlers.TransferRequestHandler"
      preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Expect-CT" value="enforce, max-age=43200" />
        <add name="Content-Security-Policy" value="default-src *;frame-ancestors 'self' https://view.officeapps.live.com; style-src 'self' http://* 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://ndc.jayceetechsoftwares.com http://* 'unsafe-inline' 'unsafe-eval'; img-src 'self' http://* blob: data:;" />
        <add name="Feature-Policy" value="fullscreen 'none'" />
        <add name="Permissions-Policy" value="fullscreen=()" />
        <add name="Referrer-Policy" value="same-origin" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <!--<add name="Access-Control-Allow-Origin" value="*"/>-->
        <add name="Access-Control-Allow-Origin" value="https://ndc:nic.in" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Accept,X-FORMS_BASED_AUTH_ACCEPTED,crossDomain,credentials,X-RequestDigest " />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="techbrills@gmail.com">
        <!--<network host="relay-hosting.secureserver.net" port="25" enableSsl="false" defaultCredentials="false"/>-->
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="techbrills@gmail.com" password="Techbrills@2020" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<location path="writereaddata">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="admin, candidate, staff, alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  <!-- Amitesh Copy Here-->
  <!--<location path="Areas/Admin/Component">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Admin, Candidate, Staff, Alumni"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="writereaddata/user">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Candidate, Staff, Alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="writereaddata/trainingdocs">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Candidate, Staff, Alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="writereaddata/media/MemberHomeData">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Candidate, Staff, Alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="writereaddata/forumblog">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Candidate, Staff, Alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="writereaddata/circular">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Admin, Candidate, Staff, Alumni" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- End Amitesh Copy Here-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>