
@{
    ViewBag.Title = "DynamicPL1";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
<section class="">
    <div class="container mt-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>Home</a></li>
            <li class="breadcrumb-item"><a href="#"> @ViewBag.Heading</a></li>
        </ol>
    </div>
</section>
<section class="pb20">
    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="text-left">
                        <h2>@ViewBag.Heading</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="field-content">
                        @Html.Raw(ViewBag.Body)
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

