@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="container">
    <div class="card  shadow-sm col-md-6">
        <div class="card-header">@ViewBag.Title</div>
        <div class="card-body">
            <p>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "Admin" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <span>Your password has been reset. Please </span><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a>
                    }
                }
            </p>
        </div>
    </div>
</div>