
@{
    ViewBag.Title = "TestView";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}
<div class="row mtb20">
    <div class="col-sm-2" style="text-align:center">
        <img class="img-100p mtb10" src="https://indianarmy.nic.in/writereaddata/Images/GOCHQSCNAIN260221.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; " />
        <h4 class="singlesubtitle">
            <strong><u>ले जनरल जे एस नैन, ए वी एस एम, एस एम</u></strong>
        </h4>
        <h4> <strong><u>जी ओ सी-इन-सी दक्षिणी कमान</u></strong></h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid rgb(233, 234, 237);">
        <div class="entry-summary">
            <div class="text-justify">                
                    <p style="text-align: left;">
                        &nbsp;ले जनरल जे एस नैन, अति विशिष्ठ सेवा मेडल, सेना मेडल, सम्मानित, अनुभवी तथा प्रवीण जनरल अफसर हैं.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;वे सैनिक स्कूल कुंजपुरा, राष्ट्रीय रक्षा अकादमी, खडकवासला तथा भारतीय सैन्य अकादमी, देहरादून के छात्र रहे हैं. जनरल अफसर ने डोगरा रेजिमेंट (2 डोगरा) में दिनांक 18 जून 1983 में कमीशन प्राप्त किया. इसके अतिरिक्त उन्होंने रक्षा सेवा स्टाफ कॉलेज, वेलिंगटन, रक्षा प्रबंधन कॉलेज, सिकन्दराबाद तथा राष्ट्रीय रक्षा कॉलेज, ढाका (बंगलादेश) से स्नातक उपाधि प्राप्त की है.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;जनरल अफसर ने अपने 37 वर्षों के यशस्वी कैरियर के दौरान अनेक संघर्षों एवं भूभागों में कार्य किया है. उन्होंनें अपने कार्यकाल के दौरान अनेक कमान, स्टाफ तथा शिक्षण संबंधी नियुक्तियों को निभाया है तथा उन्हें जम्मू और कश्मीर एवं उत्तर पूर्व में विद्रोही कार्रवाईयों का प्रत्युत्तर देने का विशाल अनुभव है. उन्होंने जम्मू और कश्मीर में नियंत्रण रेखा पर स्थित गुरेज घाटी में उच्च तुंगता वाले भूभागों तथा दक्षिणी कमान के अन्तर्गत स्ट्राइक कोर, उत्तर पूर्व में माऊण्टन ब्रिगेड में बटालियन की कमान संभाली तत्पश्चात उनकी प्रख्यात बारामूला स्थित डैगर डिवीजन की कमान ने उत्तर कश्मीर में नियंत्रण रेखा पर पूर्ण वर्चस्व बनाए रखने की जिम्मेदारी संभाली. पश्चिमी क्षेत्र में उन्होंने सामरिक महत्व की राइजिंग स्टार कोर की कमान की जिसे विकसित तथा बाघित भूभागों की सामरिक जिम्मेदारी सौंपी गई थी.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;जनरल अफसर इन्फैंट्री स्कूल महू में अनुदेशक, स्वतंत्र कवचित ब्रिगेड में ब्रिगेड मेजर, काउन्टर इन्सरजन्सी फोर्स (डेल्टा) में जी एस ओ-1 (ऑप्स) तथा कमान में ब्रिगेडियर प्रशासन के पद पर कार्यरत रहे हैं. जनरल अफसर को सैन्य सचिव शाखा के विभिन्न स्तरों का विस्तृत अनुभव है तथा उन्होंने भारतीय सेना के अधिकारियों के प्रवाभी कैरियर प्रबंधन से संबंधित कई नितियां बनाने में महत्वपूर्ण भूमिका निभाई है. उन्हें दो संक्रिमात्मक सक्रिय कमानों के चीफ ऑफ स्टाफ के पद पर रहने का भी सौभाग्य प्राप्त हुआ है. उनके विदेशी कार्यकाल में उन्होंने संयुक्त राष्ट्र मिशन के भाग के रुप में सैन्य पर्यवेक्षक के पद पर भी कार्य किया है.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;शैक्षणिक रुप से जनरल अफसर ने डिफेन्स, सुरक्षा तथा भूविज्ञान व्यूह रचना पर विस्तृत अनुसंधान किया है, उन्हें डिफेन्स स्टडीज तथा मैनेजमेंट स्टडीज में मद्रास तथा ओसमानिया विश्वविघालय से स्नातकोत्तर डिग्री प्राप्त है. जनरल अफसर उत्साही खिलाड़ी हैं तथा शारीरिक स्वास्थ्य, पढ़ाई, ट्रैकिंग तथा प्रकृति खोज में विशेष रुचि रखते हैं.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;जनरल अफसर&nbsp;<strong>द डोगरा रेजिमेंट के कर्नल&nbsp;</strong>भी हैं.
                    </p>
                    <p style="text-align: left;">
                        &nbsp;उनकी पत्नी श्रीमती अनिता नैन एक प्रतिष्ठित शिक्षाविद हैं तथा उन्हें बच्चों को पढ़ाने एवं देखभाल करने का 20 वर्ष से अधिक का अनुभव है. वह बहु-आयामी प्रतिभा सम्पन्न हैं तथा उन्होंने सैनिक परिवारों के जीवन की गुणवत्ता में सुधार के लिए प्रभावी ढंग से योगदान दिया है. दम्पति के दो पुत्र हैं.
                    </p>

            </div>
        </div>
    </div>

</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img alt="" src="https://indianarmy.nic.in/writereaddata/Images/GOCEST091219.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; " />
        <h4 class="singlesubtitle">
            <strong> लेफ्टिनेंट जनरल अनिल चौहान, पीवीएसएम, यूवाईएसएम, एवीएसएम  एसएम, वीएसएम, जीओ सी इन सी पूर्वीकमान</strong>
        </h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid #e9eaed">
        <div class="entry-summary">
           
            <p>
                <span style="font-size:14px;">लेफ्टिनेंट जनरल अनिल चौहान, परम विशिष्टसेवा मेडल,उत्तम युद्ध सेवा मेडल, अति विशिष्ट सेवा मेडल, सेना मेडल, विशिष्ट सेवा मेडल ने 01सितम्बर 2019 को पूर्व कमान के जी ओ सी-इन-सी का पदभार ग्रहण किया ।</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर ने जून 1981 में गोरखा राइफल्स में कमीशन प्राप्त किया ।</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर ने अपनी स्कूली शिक्षा केन्द्रीय विद्यालय फोर्ट विलियम, कोलकाता से पूरी की तथा वे नेशनल डिफेंस एकेडमी, खड़कवासला के ग्रेजुएट हैं । उन्होंने मद्रास विश्वविद्यालय से एम. फिल. (डिफेंस एंड स्ट्रेटेजिक स्टडीज पर) किया । वे प्रतिष्ठित संस्था एन डी सी, नई दिल्ली के छात्र रह चुके हैं ।</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर ने नियंत्रण-रेखा पर अपनी बटालियन को कमांड किया,&nbsp; पूर्वोतर में काउंटर इंसर्जेन्सी परिवेश में एक ब्रिगेड की कमान तथा जम्मू एवं कश्मीर में एक इंफेन्ट्री डिविजन का नेतृत्व किया । वे दीमापुर स्थित स्पीयर कोर&nbsp; के जी ओ सी भी थे । जी ओ सी-इन-सी पूर्वी कमान का पदभार ग्रहण करने से पहले, डायरेक्टर जनरल मिलिटरी ऑपरेशन्स जैसे सम्मानित पद को संभाल चुके हैं ।</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर के पास &nbsp;इंस्ट्रक्शनल तथा स्टाफ ड्यूटी के विविधता पूर्ण अनुभव &nbsp;&nbsp;है, जिसमे किइम्ट्राट, भूटान में इंस्ट्रक्टर क्लास&ldquo;सी&rdquo;, इंफेन्ट्री स्कूल महू में डायरेक्टर फैकल्टी ऑफ स्टडीज, जी एस ओ-1 (ऑप्स), यू एन एम ओ (UNMO),पी पी डायरेक्टरेट में डायरेक्टर, ए जी ब्रांच में डी डी जी वेटरन्स, चिनार कोर में सी ओ एस तथा सेना मुख्यालय में डी जी डी सी एंड डब्ल्यू जैसे अनेक महत्वपूर्ण पद भी है !</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर को परम विशिष्ट सेवा मेडल, उत्तम युद्ध-सेवा मेडल, अति विशिष्ट सेवा मेडल, सेना मेडल, विशिष्ट सेवा मेडल, चीफ ऑफ आर्मी स्टाफ का प्रशंसा-पत्र, वायस चीफ ऑफ आर्मी स्टाफ का प्रशंसा-पत्र तथा जनरल अफसर कमांडिंग-इन-चीफ उत्तर कमांड) के प्रशंसा-पत्र से सम्मानित किया जा चुका है !</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर साहित्य में रूचि रखने वाले व्यक्तित्व हैं तथा उन्होंने न्यूक्लीयर हमले से संबंधित&ldquo;Aftermath of A Nuclear Attack&rdquo;नामक पुस्तक की रचना की है, जिसका प्रकाशन सन् 2010 में हुआ था । गोरखा राइफल्स रेजिमेंटल सेन्टर का कमांड करते समय उन्होने&ldquo;History of 11 Gorkha Rifles Regimental Centre&rdquo;नामक पुस्तक की भी रचना की है । जनरल अफसर ने डैगर डिविजन का इतिहास भी संकलित किया है जो कि &ldquo;Sagacious Sentinels&rdquo;के रूप में 2017 में प्रकाशित हुई है । वे सैन्य इतिहास पढ़ने में दिलचस्पी रखते हैं तथा तिब्बत की गतिविधियों में उनकी विशेष रूचि है ।</span>
            </p>
            <p>
                <span style="font-size:14px;">जनरल अफसर का विवाह श्रीमती अनुपमा से हुआ है । श्रीमती अनुपमा ने स्नातकोत्तर डिग्री प्राप्त की है तथा उन्होंने बी.एड. किया है । वे फैशन डिजाइनर तथा पेंटर भी हैं । उन्हें फैब्रिक पेंटिंग पढ़ाने तथा उसे प्रचलित करने में योगदान दिया है ।</span>
            </p>
        </div>
    </div>

</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img alt="" src="https://indianarmy.nic.in/writereaddata/Images/Content/1000040007/cdr_wc.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; " />
        <h4 class="singlesubtitle">
            <strong>लेफ्टिनेंट जनरल आर पी सिंह, एवीएसएम, वीएसएम</strong>
            <strong>जीओसी-इन-सी पश्चिमी कमान</strong>
        </h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid rgb(233, 234, 237);">
        <div class="entry-summary">
            <div>
                लेफ्टिनेंट जनरल आर पी सिंह, एवीएसएम, वीएसएम ने 12 जून 1982 को&nbsp; मैकेनाइज्ड इन्फैट्री में कमीशन लिया था। राष्ट्रीय रक्षा अकादमी और भारतीय सैन्य अकादमी के पूर्व छात्र, जनरल ऑफिसर ने रक्षा सर्विस स्टाफ कोर्स, वरिष्ठ कमांड कोर्स किये है तथा प्रतिष्ठित नेशनल डिफेंस कॉलेज से उच्चतर कमांड कोर्स किया है ।&nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                जनरल अधिकारी ने विभिन्न रेजिमेंटल पदभार तथा स्टाफ एवं अनुदेशात्मक नियुक्तियों पर कार्य&nbsp; किया है। उन्होंने जम्मू-कश्मीर में तीव्र काउंटर इंसर्जेंसी क्षेत्रों में ब्रिगेड मेजर 268 इन्फेंट्री ब्रिगेड सहित जीएसओ -2, सैन्य खुफिया विभाग आईएचक्यू ऑफ एमओडी (सेना), कर्नल जीएस (सैन्य सिद्धांत) सेना युद्ध महाविद्यालय, महू तथा दक्षिण पश्चिम कमान के बीजीएस (ऑप्स), एमओडी (आर्मी)&nbsp; के आईएचक्यू में एडीजी अनुशासन एवं जागरूकता, डीजी एलडब्लूई , डीजी डीसी एवं डब्लू में सफलतापूर्वक कार्य किया है। वह आर्मड युद्ध विद्यालय , अहमदनगर में प्रशिक्षक थे और उन्हें संयुक्त राष्ट्र में संयुक्त राष्ट्र के सैन्य पर्यवेक्षक के रूप में तैनात किया गया था।&nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                जनरल ऑफिसर ने एक मैकेनाइज्ड इन्फैट्री बटालियन को कमांड किया और पश्चिमी क्षेत्र में एक स्वतंत्र आर्मर्ड ब्रिगेड और एक ईन्फ़ेन्ट्र्र्री डिवीजन को कमांड करने का भी गौरव हासिल किया है। उन्हें ऊनके उत्तम कार्य के लिए अति विशिष्ट सेवा मेडल और विशिस्ट सेवा मेडल प्रदान किया गया है।&nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                पश्चिम कमान का कार्यभार संभालने से पहले जनरल अधिकारी एक कोर के जीओसी थे। उन्होंने 01 अगस्त 2019 को&nbsp; जीओसी-इन-सी, पश्चिमी कमान की नियुक्ति ग्रहण किया है।
            </div>
            <div>
                &nbsp;
            </div>
        </div>
    </div>

</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img class="img-100p mtb10" src="https://indianarmy.nic.in/writereaddata/images/goccc081119.jpg" style="border: 2px solid rgb(255, 204, 0); width: 150px; height: 178px;" />
        <h4>
            <strong>लेफ्टीनेंट जनरल इकरूप सिंह घुमन,</strong>
        </h4>
        <h4>
            <strong>परम विशिष्ट सेवा मेडल, अति विशिष्ट सेवा मेडल,</strong>
        </h4>
        <h4>
            <strong>जीओसी-इन-सी,&nbsp;मध्य कमान</strong>
        </h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid #e9eaed">
        <div class="entry-summary">
            <p style="box-sizing: border-box; text-align: justify; margin: 0px 0px 20px; font-size: 14px; line-height: 26px; color: rgb(0, 0, 0); font-family: Poppins, sans-serif;">
                लेफ्टीनेंट जनरल इकरूप सिंह घुमन, परम विशिष्ट सेवा मेडल, अति विशिष्ट सेवा मेडल, जनरल अफसर कमाण्डिंग-इन चीफ, मध्य कमान को जून 1981 में,द ब्रिगेड आँफ गार्ड में कमीशन मिला ।<br />
                &nbsp;<br />
                &nbsp;<font size="2">राष्ट्रीय</font> रक्षा अकादमी , खड़कवासला तथा भारतीय सेना अकादमी देहरादून के पूर्व छात्र जनरल अफसर ने डिफेंस सर्विस स्टाफ, जूनियर कमान, सीनियर कमान, उच्च कमान तथा राष्ट्रीय रक्षा काँलेज पाठ्यक्रमों में भाग लिया है। उन्होंने सयुंक्त राज्य अमेरिका में स्थित रणनीतिक अध्ययन के उत्तर पूर्व दक्षिण एशिया केन्द्र में आतंकवाद विरोधी पाठयक्रमों में भी हिस्सा लिया है ।<br />
                &nbsp;<br />
                &nbsp;जनरल अफसर, माउन्टेन ब्रिगेड के ब्रिगेड मेजर, कर्नल जनरल स्टाफ, मुख्यालय सेना प्रशिक्षण कमान, रक्षा मंत्रालय के एकीकृत मुख्यालय के निदेशक, पर्सपेक्टिव प्लानिंग ( कन्सेप्ट एण्ड एनालिसिस), कोर के ब्रिगेडियर जनरल स्टाफ जैसे महत्वपूर्ण पदों को संभाल चुके हैं। वह उप सहायक प्रमुख एकीकृत रक्षा स्टाफ (सेना सचिव तथा स्टाफ डयूटीज), चीफ आँफ स्टाफ पश्चिमी कमान और पूर्वी कमान में मेजर जनरल आँपरेशनल लाँजिस्टिक के रूप में उच्चतर स्टाफ पदों पर भी रह चुका हैं ।<br />
                &nbsp;<br />
                &nbsp;जनरल अफसर इन्फेन्ट्री स्कूल महू में अनुदेशक रह चुके हैं और अंगोला, अफ्रीका में संयुक्त राष्ट्र अंगोला वेरीफिकेशन मिशन (यूएनएवीईएम) में सेना पर्यवेक्षक के रूप में भी तैनात रह चुके हैं ।<br />
                &nbsp;<br />
                &nbsp;उन्हें कमान के सौंपे गये कार्यो में एन्टी टैंक गाइडेड मिसाइल बटालियन के कमांण्डिग अफसर, आँपरेशन रक्षक में उच्च तुंगता क्षेत्र में माउन्टेन ब्रिगेड के कमाण्डर, इन्फेन्ट्री डिवीजन के जनरल अफसर कमाण्डिंग तथा मरूस्थलीय क्षेत्र में स्ट्राइक कोर के जनरल अफसर कमांण्डिग के पद शामिल हैं ।<br />
                &nbsp;<br />
                &nbsp;वर्तमान पद को संभालने से पहले आप रक्षा मंत्रातय के एकीकृत मुख्यालय में उपसेनाध्यक्ष स्टाफ (सूचना प्रणाली तथा प्रशिक्षण) का महत्वपूर्ण पद संभाल रहे थे ।<br />
                &nbsp;&nbsp;
            </p>
           
        </div>

    </div>
</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img class="img-100p mtb10" src="https://indianarmy.nic.in/writereaddata/Images/GOCNC17820.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; float: left;" />
        <h4 class="singlesubtitle">
            <strong><u>ले0 जनरल वाई के जोशी, उत्तम युद्ध सेवा मेडल, अति विशिष्ट सेवा मेडल</u></strong>
        </h4>
        <h4> <strong><u> वीर चक्र, सेना मेडल, जी ओ सी–इन-सी उत्तर कमान</u></strong></h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid rgb(233, 234, 237);">
        <div class="entry-summary text-justify">
            <p>ले0 जनरल वाई के जोशी, उत्तम युद्ध सेवा मेडल, अतिविशिष्ट सेवा मेडल, वीर चक्र, सेना मेडल ने 12 जून 1982 को 13 जैक राइफल में कमीशन प्राप्त किया और बाद में उसी यूनिट की कमान किया। महोदय राष्ट्रीय रक्षा अकादमी खड्गवासला के छात्र रह चुके है, और इन्होंने अपना पोस्टग्रेजुएशन डिफेन्स सर्विसेज स्टाफ कॉलेज, वेलिंगटन से पुरा किया। महोदय ने प्रतिष्ठित राष्ट्रीय रक्षा अकादमी कोर्स नयी दिल्ली से प्राप्त किया।</p>
            <p>जनरल ऑफिसर को सभी प्रकार के माहौल में नेतृत्व करने का विस्तृत अनुभव है। महोदय ने 13 जैक राइफल को ऑपरेशन विजय और ऑपरेशन पराक्रम के दौरान कमान किया। कारगिल युद्ध के दौरान महोदय ने उत्कृष्ट नेतृत्व के द्वारा पुरे देश का ध्यान अपनी ओर आकर्षित किया, और उपनाम जो (Joe) का इस्तेमाल कर यूनिट को अविस्मरणीय सफलता दिलाई। ऑपरेशन विजय के दौरान महोदय के नेतृत्व में यूनिट को 37 वीरता पुरस्कार मिले जिसमें दो परमवीर चक्र और चौदह सेना मेडल शामिल है। यूनिट को थल सेनाध्यक्ष का यूनिट साइटेशन और सर्वोत्तम वीरों के वीर पुरस्कार से नवाजा गया। महोदय को 13 जैक राइफल के कमान के दौरान ऑपरेशन में उत्कृष्ट भागीदारी हेतु वीर चक्र प्रदान किया गया। महोदय ने तांगसे में एक इन्फैन्ट्री ब्रिगेड, कारू में इन्फैन्ट्री डिविजन और लेह में कोर का कमान किया। महोदय ने इन्फैन्ट्री के महानिदेशक भी रहे और इसके आधुनिकीकरण को बढ़ावाल देने में अहम रोल अदा किया। महोदयने 01 फरवरी 2020 को उत्तरी कमान के आर्मी कमाण्डर का पदभार ग्रहण करने से पहले उसी कमान में चीफ ऑफ स्टाफ थे।</p>
            <p>जनरल ऑफिसर इन्फैन्ट्री स्कुल मऊ में अनुदेशक रहे और उसके साथ विभिन्न स्टाफ नियुक्तियों जिसमें कि मिलिट्री ऑपरेशन मुख्यालय और अपने देश के रक्षा प्रतिनिधि के रूप में चीन में कार्य किया। महोदय ने संयुक्त राष्ट्र, अंगोला में मिलिट्री पर्यवेक्षक के रूप में भी कार्य किया।</p>
        </div>
    </div>
</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img class="img-100p mtb10" src="https://indianarmy.nic.in/writereaddata/images/gocatrac090720.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; float: left;" />
        <h4 class="singlesubtitle">
            <strong><u>लेफ्टिनेंट जनरल राज शुक्ला, वाईएसएम, एसएम</u></strong>
        </h4>
        <h4><strong><u>जीओसी-इन-सी, आरट्रैक</u></strong></h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid rgb(233, 234, 237);">
        <div class="entry-summary text-justify">
           
        </div>
    </div>
</div>
<div class="row mtb20">
    <div class="col-sm-2 text-center">
        <img class="img-100p mtb10" src="https://indianarmy.nic.in/writereaddata/images/GOCSWC031219.jpg" style="text-align: left; border: 2px solid rgb(255, 204, 0); width: 150px; height: 180px; float: left;" />
        <h4 class="singlesubtitle">
            <strong>
                <u>
                    लेफ्टिनेंट जनरल आलोक क्लेर
                    विशिष्ट सेवा मैडल
                    जीओसी-इन-सी
                    दक्षिण पश्चिमी कमांड
                </u>
            </strong>
        </h4>
    </div>
    <div class="col-sm-10" style="border-bottom: 1px solid rgb(233, 234, 237);">
        <div class="entry-summary text-justify">
            <p>लेफ्टिनेंट जनरल आलोक क्लेर, विशिष्ट सेवा मैडल, ने सप्त शक्ति कमान के दसवें जनरल ऑफिसर कमांडिंग-इन-चीफ के रूप में पदभार ग्रहण किया । जनरल ऑफिसर ने राष्ट्रीय रक्षा अकादमी, खडकवासला और भारतीय सैन्य अकादमी, देहरादून से सैन्य प्रशिक्षण प्राप्त किया और  जून 1982 में उन्होंने आर्मड कोर  में कमीशन प्राप्त किया । वे डिफेंस सर्विसेज स्टाफ कॉलेज, वेलिंगटन से स्नातक हैं और आर्मी वॉर कॉलेज महू  से  विभिन्न महत्वपूर्ण और सैन्य प्रबंधन कोर्स कर चुके हैं । उन्होंने  बांग्लादेश के नेशनल डिफेंस कॉलेज में भी प्रशिक्षण प्राप्त किया ।</p>
            <p>जनरल ऑफिसर को पूरे भारत में विभिन्न सैन्य ऑपेऱशनों का काफी अनुभव है। उन्होंने जम्मू-कश्मीर और उत्तर पूर्व  में आतंकवाद से प्रभावित क्षेत्रों  में कार्य किया है । उन्होंने वेस्टर्न सेक्टर में आर्मर्ड रेजिमेंट और आर्मर्ड ब्रिगेड की कमान संभाली। जनरल ऑफिसर ने  आर्मर्ड डिवीजन को कमांड करने के बाद में उन्होंने पश्चिम स्थित  कोर को कंमांड किया । जनरल ऑफिसर को सभी स्तर पर कार्यो  का  अनुभव रहा है। जनरल ऑफिसर को साइकिल चलाने, फिटनेस और खेलों  में गहरी रुचि है ।  वे पर्यावरण और  वाइल्ड लाइफ सुरक्षा में भी गहन रूचि रखते हैं ।</p>
            <p>जनरल ऑफिसर इन्फैन्ट्री स्कुल मऊ में अनुदेशक रहे और उसके साथ विभिन्न स्टाफ नियुक्तियों जिसमें कि मिलिट्री ऑपरेशन मुख्यालय और अपने देश के रक्षा प्रतिनिधि के रूप में चीन में कार्य किया। महोदय ने संयुक्त राष्ट्र, अंगोला में मिलिट्री पर्यवेक्षक के रूप में भी कार्य किया।</p>
        </div>
    </div>
</div>
