body{
    color:#000;
}
.indian-emblem{
    float:left;padding-right:10px;    
}
.mid-head {
    /*width:100%;
    float:left;
    background: linear-gradient(-145deg, #fff, transparent 60% 40%), linear-gradient(145deg, #fff, transparent 70% 30%),url('../../images/header.png')left no-repeat;
    background-size:cover;
    padding:10px 0;*/

    width: 100%;
    float: left;
    padding: 10px 0;
    /* Multiple backgrounds */
    background-image: linear-gradient(-145deg, #fff, transparent 60% 40%), linear-gradient(145deg, #fff, transparent 70% 30%), url('../../images/header.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
    background-size: auto, auto, cover; /* gradients auto, image cover */
}
.logo{
    /*top:50%;left:40%;
    position: absolute;
    transform: translate(-50%, 0%);*/
}
.useridentity {
    color: #fff;
    text-transform: uppercase !important;
    font-size: 0.90em;
    padding: 4px;
    font-weight: 500;
}
.logo h1 a {
    /*color: #fafafa;*/
    text-decoration: none;
}
.top_head {
    width: 100%;
    float: left;
    background: #9b030c !important;
    padding:4px 0;
    color: #000 !important
}
.language .form-control{
    border-radius: 16px;
    background-color: transparent !important;
}
.navigation-bg {
    background: #9b030c;
}
.sf-menu li a {
    padding: 7px 19px;
    border-left: 1px solid #b20f19;
}
.sf-menu ul li, .sf-menu ul ul li {
    /* background: #1253ca; */
    background: #9b030c;
}
.sf-menu a, .sf-menu li ul li a{
    font-size:110%; 
}
.bg-white {
    background-color: #fff !important;
    opacity: 10;
}
.sf-menu ul li, .sf-menu ul ul ul li {
    background: #9b030c;
}
.sf-arrows .sf-with-ul:after{
    top:50%;
    right:1em;
    margin-top:-3px;height:0;width:0;border:4px solid transparent;border-top-color:#dFeEFF;border-top-color:rgba(255,255,255,.9)}

.active{
    background: #1253ca !important;
}
.whats-new-section {
    /*background: #5da6d3;*/
    background:#6c6c6c;
    color: white;
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-bottom: 16px;
    /* padding-top: 20px*/;
    height: 370px;
    border-radius: 5px;
}
.whats-new-section .title {
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
.what-news-wrapper ul li{ 
    /*font-size:0.88em !important; */ 
    border-bottom:1px solid #e3e3e3;padding-bottom:10px;padding-top:10px;text-align:left;line-height:1.5em;color:#fff;position:relative;padding-left:20px;padding-right:20px;

}
.what-news-wrapper ul li:before{content:"\f105";font-family:fontawesome;right:0;padding-left:5px;position:absolute;font-size:18px;color:#fff;left:0;top:8px;width:3px}

.ndc-in-news-wrapper ul li{ 
    /*font-size:0.88em !important; */ 
    border-bottom:1px solid #e3e3e3;padding-bottom:10px;padding-top:10px;text-align:justify;line-height:1.5em;color:#fff;position:relative;padding-left:2px;padding-right:20px;

}
.ndc-in-news-wrapper ul li:before{content:"\f1ea";font-family:fontawesome;right:0;padding-left:1px;position:absolute;font-size:18px;color:#fff;left:0;top:8px;width:3px;}
ul.newsslider a {
  /*font-size: 120%;*/
   /* font-weight: 600;
   line-height: 17px;*/
   color:#fff;
}
.view-footer {
    clear: both;
   /* display: table;*/
    margin-top: 10px;
}
.view-footer a {
    border: 1px solid #fff;
    padding: 2px 15px;
    /*font-size: 14px;*/
   color: #fff;
    font-weight: 700;
    top:-10px;
}
.ticker_section {
    width: 100%;
    display: inline-block;
    background: #9b030c;
    margin-top: 0px;
    padding: 5px 0 5px;
    color: white;
    font-weight: 600;
}
.latest-news-events {
    float: left;
    width: 100%;
    /*background: #3E70CB;*/
    background: #700870;
    margin-right: 2px;
    padding: 15px;
    height: 370px;
    border-radius: 5px;
}
.latest-news-events .title {
    padding:5 2 5 5;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
}
.previous-month {
    margin-top: 4px;
    float: left;
    width: 100%;
    /*background: #04225a;*/
    background: #347256;
    margin-right: 2px;
    padding: 20px;
    height: 370px;
    border-radius: 5px;
}
.previous-month .title {
    padding:5 2 5 5;
    color: #fff;
font-size: 1.3em;
font-weight: 700;
}
.ndc-in-news {
    margin-top: 4px;
    float: left;
    width: 100%;
    /*background: #04225a;*/
    background: #72050b;
    margin-right: 2px;
    padding: 0 20px;
    height: 370px;
    border-radius: 5px;
}
.ndc-in-news .title {
    padding:5px 2px 5px 5px;
    color: #fff;
font-size: 1.3em;
font-weight: 700;
}
.ndc-in-news div {
    /*border-bottom:1px solid #fff;margin-bottom: 10px;*/
}
.footer-bottom {
    background: #9b030c !important;
    border-top: 1px solid #5da6d3;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 768px){
.logo h1 {
    font-size: 100%;
}
.logo h2 {
    font-size: 60%;
}
}
.course{
    padding:4px 10px 4px 10px;
}
.pm-section img{
    width:155px;
    margin: 7px 0 8px;
}
.pcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
    clear: both;
    margin-bottom: 20px;
  }
  .pcard img {
    border:1px solid #ddd;border-radius:50%;-webkit-box-shadow:0 6px 10px 0 #b7b7b7;-moz-box-shadow:0 6px 10px 0 #b7b7b7;box-shadow:0 6px 10px 0 #b7b7b7;margin:16px 0 10px;width:130px
  }
  .pcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .pcard-container {
    padding: 2px 16px;
  }

.pcard .card-title{font-size:106%;margin-bottom:3px;margin-top:6px;text-align: center;}
.pcard ul{padding:0 25px;}
.pcard ul li{display:inline-block;width:100%;}
.pcard ul li a{width:100%;float:left;font-size: 0.888em;padding:4px 0;border-bottom:1px solid #ddd;font-weight:600;text-decoration:none}

/* Button */

button.cbtn{
    /*background: transparent;
     color: #1253ca; */
     background:#04225a;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1.11em;
    letter-spacing: 2px;
    padding: 11px 10px; 
    font-weight:600;
    cursor: pointer;
    display: inline-block;
    margin: 5px 15px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    min-width: 216px;
  }

   button.btn-1:hover{
    background-color:#3e70cb;
    color: white;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }
  button.cbtn-big{
    background: transparent;
    /* color: #1253ca; */
    color:#414141;
    border: 1px solid #414141;
    font-size: 1.22em;
    letter-spacing: 2px;
    padding: 7px 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 5px 15px;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }
button.cbtn-sm {
    background: transparent;
    /* color: #1253ca; */
    color: #dddada;
    border: 1px solid #ddcdcd;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    /*color:#414141;
    border: 1px solid #920606;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;*/
}
   button.btn-1:hover{
    background-color: #414141;
    color: white;
    -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  }
  
  button.btn-2{
    overflow: hidden;
    position: relative;
  }
  
  button.btn-2:hover{
    color: black;
  }
  
  
  button.btn-2:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background: #fff;
  }
  
  button.btn-2:hover:after,
  button.btn-2:active:after {
      height: 100%;
  }

  .calendarr {
    margin-top: 0px;
    box-shadow: 0 0 14px black;
    overflow-y: scroll;
    /* padding:0 15px 0 15px; */
}
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
.img-hover-zoom--point-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
  }

  .img-hover-zoom--point-zoom:hover img {
    transform: scale(5);
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #181818;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    clear: both;
    font-weight: 400;
    color: #ccc;
}
.dropdown-menu>li>a:hover {
   background: transparent;
    color: white;
    border-bottom: 1px solid #242323;
}

/*Jui Preview*/
.jui-preview-field-header {
    font-weight: 500;
    white-space: normal;
}

.jui-preview-field-value {
    white-space: normal;
}

.juipfname {
    font-weight: 700;
    font-size: 0.9em;
}

.juipfvalue {
    font-size: 0.9em;
}
.field-content {
    padding: 15px;
/*    margin-top: -18px;*/
}
    .field-content .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: #271c68;
    }

    .field-content ul li {
        list-style-type: disc !important;
        display: list-item;
        margin: 0 0 10px 20px;
    }
.breadcrumb {
    text-transform: uppercase;
    background-color: #9b030c !important;
    border-bottom: 1px solid #7a0707;
}

.ndclist ol {
    counter-reset: item
}

.ndclist li {
    display: block;
    counter-increment: item;
}
    /* replace the counter before list item with
              open parenthesis + counter + close parenthesis */
    .ndclist li:before {
        content: " (" counter(item,lower-alpha) ") ";
    }