@*@model NDCWeb.Areas.Member.View_Models.*@

@*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCMCountryVisit" }))
{
    @Html.AntiForgeryToken()*@

    <!--<div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card mt-4">
            <div class="card-header" style="background-color:#fff">
                COUNTRIES VISITED 2
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <Label class="control-label">Name of Country</Label>
                        <select class="form-control" id="cvCountry_1" required name="cvCountry">
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <Label class="control-label">Year of Visit</Label>
                        <input type="text" name="cvVisit" id="cvVisit_1" required title="Enter Visit" class="form-control" placeholder="Year of Visit">
                    </div>
                    <div class="form-group col-md-2">
                        <Label class="control-label">Stay Duration</Label>
                        <input type="text" name="cvDuration" id="cvDuration_1" required title="Enter Stay Duration" class="form-control" placeholder="Stay Duration">
                    </div>
                    <div class="form-group col-md-4">
                        <Label class="control-label">Purpose</Label>
                        <input type="text" name="cvPurpose" id="cvPurpose_1" required title="Enter Purpose" class="form-control" placeholder="Purpose">
                    </div>
                    <div class="form-group col-md-1">
                        <Label class="control-label pb-1" style="width:100%"></Label>
                        <button type="button" class="add-CountryVisit btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i></button>
                        <button type="button" class="remove-CountryVisit btn btn-outline-danger ml-2 btn-sm"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div id="new_cv"></div>
                <input type="hidden" value="1" id="total_cv">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="btnSaveCountryVisit" value="Save" onclick="addMemberCountryVisits()" class="btn btn-primary btn-lg" />-->
    @*<a href="#" class="btn btn-primary btn-lg btnPrevious">Go Back</a>
        <a href="#" class="btn btn-primary btn-lg btnNext">Next</a>*@
    <!--</div>
                </div>
            </div>
        </div>
    </div>-->

@*}*@

@*<script>
        $(document).ready(function () {
            getddlCountryName('#cvCountry_1');
            loadPurposeSuggestion();
        });
        // #region Country Visit
        function storeCountryVisit() {
            let ttlcv = $('#total_cv').val();
            let countryVisits = [];
            for (i = 1, j = 0; i <= ttlcv; i++, j++) {
                countryVisits[j] = {
                    Country: $('#cvCountry_' + i).val(),
                    Visit: $('#cvVisit_' + i).val(),
                    Duration: $('#cvDuration_' + i).val(),
                    Purpose: $('#cvPurpose_' + i).val(),
                    //Month: $('#cvMonth_' + i).val(),
                };
            }
            return countryVisits;
        }

        $('.add-CountryVisit').on('click', addCountryVisit);
        $('.remove-CountryVisit').on('click', removeCountryVisit);
        function addCountryVisit() {
            let new_cv_no = parseInt($('#total_cv').val()) + 1;
            let new_inputCv = `<div id="Country_${new_cv_no}" class="form-row">
                                   <div class="form-group col-md-3">
                                        <select class="form-control" id="cvCountry_${new_cv_no}" required name="cvCountry">
                                        </select>
                                   </div>
                                   <div class="form-group col-md-2">
                                       <input type="text" name="cvVisit" id="cvVisit_${new_cv_no}" required title="Enter Visit" class="form-control" placeholder="Year">
                                   </div>
                                   <div class="form-group col-md-2">
                                       <input type="text" name="cvDuration" id="cvDuration_${new_cv_no}" required title="Enter Duration" class="form-control" placeholder="Duration">
                                   </div>

                                   <div class="form-group col-md-4">
                                       <input type="text" name="cvPurpose" id="cvPurpose_${new_cv_no}" required title="Enter Purpose" class="form-control" placeholder="Purpose">
                                   </div>
                               </div>`
            $('#new_cv').append(new_inputCv);
            $('#total_cv').val(new_cv_no);
            getddlCountryName('#cvCountry_' + new_cv_no);
            loadPurposeSuggestion();
        }
        function removeCountryVisit() {
            let last_cv_no = $('#total_cv').val();

            if (last_cv_no > 1) {
                $('#Country_' + last_cv_no).remove();
                $('#total_cv').val(last_cv_no - 1);
            }
        }
        // #endregion

        function addMemberCountryVisits() {
            if ($("#formCMCountryVisit").valid()) {
                let countryVisitList = storeCountryVisit();
                let countryVisits = JSON.stringify(countryVisitList);
                $.ajax({
                    type: 'post',
                    url: '/api/courseMembers/CountryVisit',
                    data: countryVisits,
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    success: function (data, textStatus, xhr) {
                        toastr.info(textStatus);
                        displayTab('ServicePartial');
                    },
                    error: function () {
                        toastr.error('Operation Failed!');
                    }
                });
            }
        }

        function loadPurposeSuggestion() {
            $("input[name='cvPurpose']").autocomplete({
                source: ["Persoal", "Official"],
                minLength: 0
            }).focus(function () {
                $(this).autocomplete('search', "")
            });
        }
    </script>*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCMCountryVisit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card shadow p-3 mt-4">
            <div class="card-header bg-white">
                COUNTRIES VISITED
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm" id="tblCountryVisit">
                    <thead class="thead-light">
                        <tr>
                            <th style="width:25%">Name of Country</th>
                            <th style="width:15%">Year of Visit</th>
                            <th style="width:15%">Stay Duration</th>
                            <th style="width:35%">Purpose</th>
                            <th style="width:10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="Country_1">
                            <td>
                                <select class="form-control" id="cvCountry_1" required name="cvCountry"></select>
                            </td>
                            <td>
                                <input type="text" name="cvVisit" id="cvVisit_1" required class="form-control" placeholder="Year of Visit">
                            </td>
                            <td>
                                <input type="text" name="cvDuration" id="cvDuration_1" required class="form-control" placeholder="Stay Duration">
                            </td>
                            <td>
                                <input type="text" name="cvPurpose" id="cvPurpose_1" required class="form-control" placeholder="Purpose">
                            </td>
                            <td class="text-center">
                                <button type="button" class="add-CountryVisit btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i></button>
                                <button type="button" class="remove-CountryVisit btn btn-outline-danger btn-sm" disabled><i class="fa fa-minus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <input type="hidden" value="1" id="total_cv">

                <div class="form-group text-center mt-4">
                    <input type="button" id="btnSaveCountryVisit" value="Save" onclick="addMemberCountryVisits()" class="btn btn-outline-danger" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        getddlCountryName('#cvCountry_1');
        loadPurposeSuggestion();
    });

    // #region Country Visit
    function storeCountryVisit() {
        let ttlcv = $('#total_cv').val();
        let countryVisits = [];
        for (i = 1, j = 0; i <= ttlcv; i++, j++) {
            countryVisits[j] = {
                Country: $('#cvCountry_' + i).val(),
                Visit: $('#cvVisit_' + i).val(),
                Duration: $('#cvDuration_' + i).val(),
                Purpose: $('#cvPurpose_' + i).val(),
            };
        }
        return countryVisits;
    }

    // Add row
    $(document).on('click', '.add-CountryVisit', addCountryVisit);
    function addCountryVisit() {
        let new_cv_no = parseInt($('#total_cv').val()) + 1;
        let newRow = `<tr id="Country_${new_cv_no}">
                        <td>
                            <select class="form-control" id="cvCountry_${new_cv_no}" required name="cvCountry"></select>
                        </td>
                        <td>
                            <input type="text" name="cvVisit" id="cvVisit_${new_cv_no}" required class="form-control" placeholder="Year">
                        </td>
                        <td>
                            <input type="text" name="cvDuration" id="cvDuration_${new_cv_no}" required class="form-control" placeholder="Duration">
                        </td>
                        <td>
                            <input type="text" name="cvPurpose" id="cvPurpose_${new_cv_no}" required class="form-control" placeholder="Purpose">
                        </td>
                        <td class="text-center">
                            <button type="button" class="add-CountryVisit btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i></button>
                            <button type="button" class="remove-CountryVisit btn btn-outline-danger btn-sm"><i class="fa fa-minus"></i></button>
                        </td>
                    </tr>`;
        $('#tblCountryVisit tbody').append(newRow);
        $('#total_cv').val(new_cv_no);
        getddlCountryName('#cvCountry_' + new_cv_no);
        loadPurposeSuggestion();
        refreshActionButtons();
    }

    // Remove row
    $(document).on('click', '.remove-CountryVisit', removeCountryVisit);
    function removeCountryVisit() {
        let last_cv_no = $('#total_cv').val();
        if (last_cv_no > 1) {
            $('#Country_' + last_cv_no).remove();
            $('#total_cv').val(last_cv_no - 1);
            refreshActionButtons();
        }
    }

    // Ensure only last row has + and -
    function refreshActionButtons() {
        $('#tblCountryVisit tbody tr').each(function (index, row) {
            $(row).find('.add-CountryVisit').hide();
            $(row).find('.remove-CountryVisit').prop("disabled", false);
        });
        // Last row shows Add & Remove
        let lastRow = $('#tblCountryVisit tbody tr:last');
        lastRow.find('.add-CountryVisit').show();
        if ($('#tblCountryVisit tbody tr').length === 1) {
            lastRow.find('.remove-CountryVisit').prop("disabled", true);
        }
    }
    // #endregion

    function addMemberCountryVisits() {
        if ($("#formCMCountryVisit").valid()) {
            let countryVisitList = storeCountryVisit();
            let countryVisits = JSON.stringify(countryVisitList);
            $.ajax({
                type: 'post',
                url: '/api/courseMembers/CountryVisit',
                data: countryVisits,
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (data, textStatus, xhr) {
                    toastr.info(textStatus);
                    displayTab('ServicePartial');
                },
                error: function () {
                    toastr.error('Operation Failed!');
                }
            });
        }
    }

    function loadPurposeSuggestion() {
        $("input[name='cvPurpose']").autocomplete({
            source: ["Personal", "Official"],
            minLength: 0
        }).focus(function () {
            $(this).autocomplete('search', "")
        });
    }
</script>
