@model NDCWeb.Areas.Member.View_Models.CrsMbrAppointmentCrtVM
<style>
    .validation-summary-valid {
        display: none;
    }

    .required::before {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCMServices" }))
{
    @Html.AntiForgeryToken()

    { Html.RenderPartial("Add/ServiceAdd/_ServiceDetail"); }
    <br />
    { Html.RenderPartial("Add/ServiceAdd/_Qualification"); }
    <br />
    { Html.RenderPartial("Add/ServiceAdd/_CountryVisit"); }
    <br />
    { Html.RenderPartial("Add/ServiceAdd/_LanguagesKnown"); }
    <br />
    { Html.RenderPartial("Add/ServiceAdd/_ImportantAssignment"); }

    <div class="card-footer text-center">
        <input type="button" id="btnSave" value="Submit" onclick="servicesAdd()" class="btn btn-outline-danger" />
    </div>

}

<div class="panel-footer d-flex justify-content-between align-items-center p-3 bg-light border-top rounded-bottom shadow-sm">
    <button type="button" class="btn btn-outline-primary btnPrevious">
        <i class="fa fa-arrow-left mr-1"></i> Previous
    </button>

    @*<button type="button" class="btn btn-secondary disabled" disabled>
        <i class="fa fa-ellipsis-h"></i>
    </button>*@

    <button type="button" class="btn btn-outline-primary btnNext">
        Next <i class="fa fa-arrow-right ml-1"></i>
    </button>
</div>


@*<div class="panel-footer">
        <a class="btn btn-outline-primary btn-info btnPrevious text-white">Previous</a>
        <a class="btn  btn-secondary" disabled>&nbsp;</a>
        <a class="btn btn-outline-primary btnNext text-white">Next</a>
    </div>*@


<script>
    $(document).ready(function () {
        $('.btnNext').click(function () {
            $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
        });
    });

    function servicesAdd() {
        if ($("#formCMServices").valid()) {
            let appointment = fillAppointment();

            let qualificationList = storeQualification();
            //let qualifications = JSON.stringify(qualificationList);

            let countryVisitList = storeCountryVisit();
            //let countryVisits = JSON.stringify(countryVisitList);

            let languageList = storeLanguage();
            //let languages = JSON.stringify(languageList);

            let assignmentList = storeAppointment();
            //let assignments = JSON.stringify(assignmentList);

            let serviceList = {
                Appointment: appointment,
                Qualifications: qualificationList,
                CountryVisits: countryVisitList,
                Languages: languageList,
                ImportantAssignments: assignmentList,
            }
            let services = JSON.stringify(serviceList);

            $.ajax({
                type: 'post',
                url: '/api/courseMembers/ServiceMultiple',
                data: services,
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (data, textStatus, xhr) {
                    toastr.info(textStatus);
                    displayTab('ServicePartial');
                },
                error: function () {
                    toastr.error('something wents wrong!');
                }
            });
        }

    }


</script>