<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="text-center">
            <span class="footer-nic">Site is hosted by National Informatics Centre (NIC). Information is provided and updated by National Defence College</span>
        </p>
    </div>
</footer>