<footer class="footer" style="clear: both; position: relative; margin-top: 60px;">
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center"><span class="footer-nic">Site is hosted by National Informatics Centre (NIC). Information is provided and updated by National Defence College</span></p>

        </div>
    </div>
</footer>
