@using Microsoft.AspNet.Identity
@using System.Security.Claims

<div class="top-header d-flex justify-content-between align-items-center px-4 py-2 border-bottom">
    <img class="pull-left" src="/images/1200px-Emblem_of_India.png" height="70" alt="Emblem_of_India">
    <a href="/" title="NATIONAL DEFENCE COLLEGE" class="fw-bold ND">
        NATIONAL DEFENCE COLLEGE
    </a>
    <div class="logo ps">
        <h2><strong style="margin-left: 65px;">राष्ट्रीय रक्षा महाविद्यालय</strong></h2>
        <br /><h2>Ministry of Defence, Government of India</h2>
    </div>
    <div class="d-flex align-items-center ms-auto" style="margin-right: 3.4rem !important;">
        <img class="pull-left" src="/images/NDC-Logo.png" height="70" alt="NDC-Logo" style="margin-right: 50px;">
        @if (Request.IsAuthenticated)
        {
            <div class="d-flex align-items-center">
                @using (Html.BeginForm("LogOff", "Account", new { area = "Admin" }, FormMethod.Post, new { id = "logoutForm", @class = "m-0" }))
                {
                    <span>
                        <strong>Logout in :</strong> <span id="remainingTime"  style="font-weight:bold; color:red;"></span>
                    </span>
                    <div id="sessionTimer" data-timeout="@Session.Timeout"></div>
                    <span class="me-2">
                        Welcome, <strong>
                            @(((ClaimsIdentity)User.Identity).FindFirst("FName")?.Value)
                        </strong>
                    </span>
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-danger ms-2">
                        <i class="fa fa-power-off"></i> Log off
                    </a>
                }
            </div>
        }
    </div>
</div>


