
<div class="sidebar border-end">
    <ul class="list-unstyled">
        <li><a href="/alumni/"><span><i class="fa fa-home"></i> Home</span></a></li>
        <li><a href="/alumni/profile/"><span><i class="fa fa-user"></i> My Profile</span></a></li>
        <li><a href="/alumni/alumniconnectwith/mycoursemates"><span><i class="fa fa-users"></i> My Course Members</span></a></li>
        <li class="has-sub">
            <a href="#"><span><i class="fa fa-link"></i> NDC Connect</span> <i class="fa fa-angle-right arrow"></i></a>
            <ul class="list-unstyled">
                <li><a href="~/Flipbook/index.html">Alumni News Letter</a></li>
                <li><a href="/alumni/participant/library/ndc-publications">NDC Journal</a></li>
                <li><a href="/alumni/AlumniArticle/Index">Upload Article</a></li>
                <li><a href="/alumni/participant/coffee-table-book">Coffee Table Book</a></li>
                <li><a href="/alumni/Home/Memento">Alumni Memento</a></li>
            </ul>
        </li>
        <li><a href="/alumni/home/alumnifeedback/"><span><i class="fa fa-comment"></i> Feedback</span></a></li>
    </ul>
</div>




