@*@Html.MathCaptcha()*@
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Index";
    var captcha = Html.Captcha("Refresh", "Type the text &nbsp;&nbsp;&nbsp;", 5, "The Captcha is required", true);
    var captchaStr = captcha.RenderMarkup().ToHtmlString().Replace("<br/>", "");
}

<div style="float:left">
    @Html.Raw(captchaStr)
</div>
<style type="text/css">   
    input[name='CaptchaInputText'] {
        width: 30% !important;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #202327;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
        text-align: center;
    }

        input[name='CaptchaInputText']:focus {
            box-sizing: border-box;
            border: 2px solid blue !important;
        }
</style>
<script src="~/Component/js/jquery/jquery-3.7.1.min.js"></script>

<script>
    var maxchars = 5;
    $('#CaptchaInputText').keydown(function (e) {
        if ($(this).val().length >= maxchars) {
            $(this).val($(this).val().substr(0, maxchars));
        }
    });

    $('#CaptchaInputText').keyup(function (e) {
        if ($(this).val().length >= maxchars) {
            $(this).val($(this).val().substr(0, maxchars));
        }
    });
</script>