
@{
    ViewBag.Title = "Download Document";
}

<div class="container pt-2">
    <div class="card mb-4">
        <div class="card-header">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>
                        Ser No
                    </th>
                    <th>
                        Document Name
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        01 Jul 24 Prof Manoj Pant
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/01 Jul 24 Prof Manoj Pant (1).pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        05 Jul 24 Dr Ranjana Kaul
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/05 Jul 24 Dr Ranjana Kaul.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        05 Jul 24 Dr VB Mathur
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/05 Jul 24 Dr VB Mathur.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        18 Jun 24 Amb Rakesh Sood
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/18 Jun 24 Amb Rakesh Sood.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        19 Jun 24 Sh Ashwajit Singh
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/19 Jun 24 Sh Ashwajit Singh.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        20 Jun 24 Dr Ajai Sahni
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/20 Jun 24 Dr Ajai Sahni.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Human Rights Framework in India
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/Human Rights Framework in India.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Emerging Tech in Defence
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/NDC Lecture II - Emerging Tech in Defence.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        NDC Lecture II Synopsis 11Jul24
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/NDC Lecture II Synopsis 11Jul24 (1).pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        NHRC Brochure
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/NHRC Brochure.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        NHRC Newsletter for the month of May
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/NHRC Newsletter for the month of May, 2024.pdf">Download</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Pakistan-Internal Fault Lines-6August2024
                    </td>

                    <td>
                        <a href="~/writereaddata/Presentation/Pakistan-Internal Fault Lines-6August2024 (1).pdf">Download</a>
                    </td>
                </tr>

            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
