@{
    ViewBag.Title = "Download Document";
}

<div class="container my-4">
    <div class="card shadow p-3 border-0 rounded-3">

        <!-- Header -->
        <div class="card-header custom-header text-center text-white rounded-top">
            @ViewBag.Title
        </div>

        <!-- Body -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle w-100 mb-0">
                    <thead class="table-light text-center">
                        <tr>
                            <th>Ser No</th>
                            <th>Document Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>01 Jul 24 Prof Manoj Pant</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/01 Jul 24 Prof Manoj Pant (1).pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>05 Jul 24 Dr Ranjana Kaul</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/05 Jul 24 Dr Ranjana Kaul.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>05 Jul 24 Dr VB Mathur</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/05 Jul 24 Dr VB Mathur.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>18 Jun 24 Amb Rakesh Sood</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/18 Jun 24 Amb Rakesh Sood.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>19 Jun 24 Sh Ashwajit Singh</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/19 Jun 24 Sh Ashwajit Singh.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>20 Jun 24 Dr Ajai Sahni</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/20 Jun 24 Dr Ajai Sahni.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Human Rights Framework in India</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/Human Rights Framework in India.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Emerging Tech in Defence</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/NDC Lecture II - Emerging Tech in Defence.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>NDC Lecture II Synopsis 11Jul24</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/NDC Lecture II Synopsis 11Jul24 (1).pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>NHRC Brochure</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/NHRC Brochure.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>NHRC Newsletter for the month of May</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/NHRC Newsletter for the month of May, 2024.pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Pakistan-Internal Fault Lines-6August2024</td>
                            <td>
                                <a class="btn btn-outline-success btn-sm" href="~/writereaddata/Presentation/Pakistan-Internal Fault Lines-6August2024 (1).pdf" target="_blank">
                                    <i class="fa fa-download"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
