@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    int cnta = 0;
}

<div class="card shadow border-0 p-3 rounded-3 mb-4">
    <!-- Page Heading -->
    <div class="card-header text-center text-white fw-bold"
         style="background: linear-gradient(135deg, #c7151ff7, #600208);">
        <h3>State & National Maps</h3>
    </div>


    @*<h3 class="text-primary fw-bold text-center mb-4">
            <u>State & National Maps</u>
        </h3>*@


    <!-- Card Wrapper -->
    <div class=" border-0 rounded-3">
        <div class="card-body p-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/arunachal-state-map.jpg" target="_blank">
                        Arunachal State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Assam_hindi.jpg" target="_blank">
                        Assam Map (Hindi)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Bihar_political.pdf" target="_blank">
                        Bihar Political Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Chattisgarh_political.jpg" target="_blank">
                        Chattisgarh Political Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/DADRA_NAGAR.jpg" target="_blank">
                        Dadra & Nagar Haveli and Maharashtra West Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Gujarat State Map.pdf" target="_blank">
                        Gujarat State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/India_Neighbourhood.pdf" target="_blank">
                        India Neighbourhood Map (Hindi)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/India_Political.jpg" target="_blank">
                        India Political Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/J and K State Map.jpg" target="_blank">
                        J&K State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Jharkhand_English.pdf" target="_blank">
                        Jharkhand Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/karnataka-state-map.jpg" target="_blank">
                        Karnataka State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Ladakh State Map.jpg" target="_blank">
                        Ladakh State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/MAHARASHTRA EAST.pdf" target="_blank">
                        Maharashtra East Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Manipur_state_map.jpg" target="_blank">
                        Manipur State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/meghalaya.jpg" target="_blank">
                        Meghalaya Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Mizoram_Political_state_map.jpg" target="_blank">
                        Mizoram Political State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Nagaland_political_map.jpg" target="_blank">
                        Nagaland Political Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/NH_46_Lhasa.jpg" target="_blank">
                        NH 46 Lhasa Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/North East States_Political.jpg" target="_blank">
                        North East States Political Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Odisha_state_map.jpg" target="_blank">
                        Odisha State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Rajasthan_State_Map.jpg" target="_blank">
                        Rajasthan State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/STATE MAP OF HARYANA.jpg" target="_blank">
                        State Map of Haryana (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/State Map Punjab.jpg" target="_blank">
                        State Map of Punjab (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/TAMILNADU_STATE_MAP.jpg" target="_blank">
                        Tamilnadu State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/Telangana Map.pdf" target="_blank">
                        Telangana Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/tripura-state-map.jpg" target="_blank">
                        Tripura State Map (English)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/writereaddata/media/MemberHomeData/Maps/World_Map.pdf" target="_blank">
                        World Map (English)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
