@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    int cnta = 0;
}


<div>
    <strong></strong>
</div>
<br />
<br />
<h3 style="margin-left: 270px; color: blue" class="list-group-item"><u><b>Document Upload Procedure</u></b></h3>
<br />
<br />
<div style="margin-left:330px; font-size:large">
    <ul>
        <li>
            <a href="/writereaddata/media/MemberHomeData/Papers Upload/ASAT Papers Upload Proc.mp4" target=_blank>Asat Paper Upload Procedure</a>
        </li><br />
        <li>
            <a href="/writereaddata/media/MemberHomeData/Papers Upload/IAG Papers Upload Proc.mp4" target=_blank>IAG Paper Upload Proedurec</a>
        </li><br />
        <li>
            <a href="/writereaddata/media/MemberHomeData/Papers Upload/Thesis Papers Upload Proc.mp4" target=_blank>Thesis Papers Upload Procedure</a>
        </li><br />
        <li>
        <a href="/writereaddata/media/MemberHomeData/Papers Upload/Other Files Upload Proc.mp4" target=_blank>Other Files Upload Procedure</a>
        </li><br />
    </ul>
</div>
<br />
<br />
<h3 style="margin-left: 270px; color: blue" class="list-group-item"><u><b>Feedback Upload Procedure</u></b></h3>
<br />
<br />
<br />
<div style="margin-left: 330px; font-size: large">
    <ul>
        <li>
            <a href="/writereaddata/media/MemberHomeData/Feedback/Speaker_Proc.mp4" target=_blank>Speaker Feedback Upload Procedure</a>
        </li>
        <br />
        <li>
            <a href="/writereaddata/media/MemberHomeData/Feedback/Module_ Proc.mp4" target=_blank>Module Feedback Upload Procedure</a>
        </li>
        <br />
        <li>
            <a href="/writereaddata/media/MemberHomeData/Feedback/Course_ Proc.mp4" target=_blank>Course End Feedback Upload Procedure</a>
        </li>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </ul>
</div>
@*<br /><hr />
    <h3 style="font-display:fallback; text-align:center; color:blue" class="list-group-item">Feedback Giving Procedure</h3>
    <div>
        <video width="400" height="240" style="margin-left:300px" controls>
            <source src="ASAT Papers Upload Proc.mp4" type="video/mp4">
        </video>
        <video width="400" height="240" controls>
            <source src="ASAT Papers Upload Proc.mp4" type="video/mp4">
        </video>
        <video width="400" height="240" controls>
            <source src="ASAT Papers Upload Proc.mp4" type="video/mp4">
        </video>
    </div>*@







