
@model IEnumerable<NDCWeb.Areas.Member.View_Models.StaffCrsMbrBirthdayAlertVM>
<table>
    <tr class="bg-success text-white">
        <td style="width:30%"> <span class="card-title"><i class="fa fa-gift"></i>  Birthday(s)</span></td>
        <td class="">
            <div class="form-row">
                <div class="col-md-8">
                    <select name="month" id="month" class="form-control form-control-sm">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <button name="btnsubmit" id="btnsubmit" type="submit" class="bt btn-primary btn-sm">Go</button>
                </div>
            </div>
        </td>
    </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
        </tr>
    }*@
    <table id="records_table">

    </table>
</table>
@*@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
            $(document).ready(function () {
                alert("s");
            });
            //$(document).ready(function () {
            //    alert('Yog');
            //    $('input[type="button"]').click(function () {
            //        alert('Yog');
            //        // GetContact();
            //    });
            //});
            function GetContact() {
                $.ajax({
                    type: 'post',
                    url: @Url.Action("BirthdayAlert"),
                    data: { month: "2" },
                    datatype: 'json',
                    success: function (data, textStatus, xhr) {
                        alert("success");
                        //alert(xhr.getResponseHeader('location'));
                    },
                    error: function () {
                        alert('Operation Failed!')
                    }
                });
            }
    </script>
}*@
