@model IEnumerable<NDCWeb.Areas.Member.View_Models.CrsMbrFamilyBirthdayAlertVM>

<table>
    <tr class="bg-success text-white">
        <td colspan="4"> <span class="card-title"><i class="fa fa-gift"></i>  Family Birthdays</span></td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td>Relation</td>
        <td>Member Name</td>
        <td>Birthday Date</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem=>item.Birthday)
            </td>*@
        </tr>
    }
</table>
