
@{
    Layout = null;
}

<div class="col-md-6">
    <div class="calendarr">
        <a href="@ViewBag.TrainingCalendar" target="_blank"> <img src="@ViewBag.TrainingCalendar" class="img-fluid" /> </a>
        <h4 class="text-center">Block Training Programme</h4>
    </div>
</div>
<div class="col-md-3">
    <div class="calendarr">
        <a href="@ViewBag.WeeklyTrainingProgramme" target="_blank"> <img src="@ViewBag.WeeklyTrainingProgramme" class="img-fluid" /> </a>
        <h4 class="text-center">Weekly Training Programme</h4>
    </div>
</div>

