
@{
    ViewBag.Title = "IN-STEP Registration Closed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-contact2" style="background-image: url('/Component/css/images/bg_01.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <div class="card text-center shadow">
                <div class="card-body">
                    <img src="~/Views/InStep/registration-closed.svg" height="400" />
                </div>
                <div class="card-footer bg-white">
                    <a href="@Url.Action("Index","Home")" class="btn btn-primary">Back to home</a>
                </div>
            </div>

        </div>
    </div>
</div>