
@{
    ViewBag.Title = "CollapseTable";
}

<style>
    td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
    }
</style>
<button id="btn-show-all-children" type="button">Expand All</button>
<button id="btn-hide-all-children" type="button">Collapse All</button>
<hr>
<table id="mytable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th> S.No. </th>
            <th style="display:none;">  </th>
            <th> Menu/Page </th>
            <th> <input type="checkbox" name="chkReadAll" /> Read </th>
            <th> <input type="checkbox" name="chkWriteAll" /> Write </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th> S.No. </th>
            <th style="display:none;">  </th>
            <th> Menu/Page </th>
            <th> <input type="checkbox" name="chkReadAll" /> Read </th>
            <th> <input type="checkbox" name="chkWriteAll" /> Write </th>
        </tr>
    </tfoot>
</table>


<h1>Sample</h1>
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        /* Formatting function for row details - modify as you need */
        function menuformat(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Menu name:</td>' +
                '<td>' + d.text + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extension number:</td>' +
                '<td>' + d.id + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
                '</tr>' +
                '</table>';
        }

        $(document).ready(function () {
            var table = $('#mytable').DataTable({
                'ajax': 'MenuItemMaster/Nodes',
                'columns': [
                    {
                        'className': 'details-control',
                        'orderable': false,
                        'data': null,
                        'defaultContent': ''
                    },
                    { 'data': 'text' },
                    { 'data': 'parent' },
                    { 'data': 'id' }
                ],
                'order': [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#mytable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(menuformat(row.data())).show();
                    tr.addClass('shown');
                }
            });

            // Handle click on "Expand All" button
            $('#btn-show-all-children').on('click', function () {
                // Enumerate all rows
                table.rows().every(function () {
                    // If row has details collapsed
                    if (!this.child.isShown()) {
                        // Open this row
                        this.child(menuformat(this.data())).show();
                        $(this.node()).addClass('shown');
                    }
                });
            });

            // Handle click on "Collapse All" button
            $('#btn-hide-all-children').on('click', function () {
                // Enumerate all rows
                table.rows().every(function () {
                    // If row has details expanded
                    if (this.child.isShown()) {
                        // Collapse row details
                        this.child.hide();
                        $(this.node()).removeClass('shown');
                    }
                });
            });
        });

        /*SAMPLE*/

        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                '<tr>' +
                '<td>Full name:</td>' +
                '<td>' + d.name + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extension number:</td>' +
                '<td>' + d.extn + '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Extra info:</td>' +
                '<td>And any further details here (images etc)...</td>' +
                '</tr>' +
                '</table>';
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                'ajax': 'https://gyrocode.github.io/files/jquery-datatables/objects.json',
                'columns': [
                    {
                        'className': 'details-control',
                        'orderable': false,
                        'data': null,
                        'defaultContent': ''
                    },
                    { 'data': 'name' },
                    { 'data': 'position' },
                    { 'data': 'office' },
                    { 'data': 'salary' }
                ],
                'order': [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            // Handle click on "Expand All" button
            $('#btn-show-all-children').on('click', function () {
                // Enumerate all rows
                table.rows().every(function () {
                    // If row has details collapsed
                    if (!this.child.isShown()) {
                        // Open this row
                        this.child(format(this.data())).show();
                        $(this.node()).addClass('shown');
                    }
                });
            });

            // Handle click on "Collapse All" button
            $('#btn-hide-all-children').on('click', function () {
                // Enumerate all rows
                table.rows().every(function () {
                    // If row has details expanded
                    if (this.child.isShown()) {
                        // Collapse row details
                        this.child.hide();
                        $(this.node()).removeClass('shown');
                    }
                });
            });
        });

    </script>
}
